<%= form_for([@consultation,@test_yesavage30] ,
             builder: ApplicationHelper::MyFormBuilder ) do |f| %>
  <% if @test_yesavage30.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_yesavage30.errors.count, "error") %> prohibited this test_yesavage30 from being saved:</h2>

      <ul>
      <% @test_yesavage30.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f1, '¿Está usted satisfecho de su vida? ' %><br>
    <%= f.select :f1 , Test::YESNO %>
  </div>
  <div class="field">
    <%= f.label :f2, '¿Ha abandonado usted alguno de sus intereses y actividades? ' %><br>
    <%= f.select :f2, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f3, '¿Siente que su vida está vacía? ' %><br>
    <%= f.select :f3, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f4, '¿Se siente usted frecuentemente aburrido?' %><br>
    <%= f.select :f4, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f5, '¿Tiene usted mucha fe en el futuro?' %><br>
    <%= f.select :f5, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f6, '¿Tiene pensamientos que le molestan y no puede sacar de su cabeza?
' %><br>
    <%= f.select :f6, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f7, '¿La mayoría del tiempo está de buen humor? ' %><br>
    <%= f.select :f7, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f8, '¿Tiene miedo de que algo malo de vaya a pasar?' %><br>
    <%= f.select :f8, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f9, '¿Se siente usted feliz la mayoría del tiempo? ' %><br>
    <%= f.select :f9, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f10, '¿Se siente usted a menudo impotente, abandonado? ' %><br>
    <%= f.select :f10, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f11, '¿Se siente a menudo intranquilo? ' %><br>
    <%= f.select :f11, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f12, '¿Prefiere quedarse en su casa en vez de salir y hacer cosas?' %><br>
    <%= f.select :f12, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f13, '¿Se preocupa usted a menudo sobre el futuro?' %><br>
    <%= f.select :f13, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f14, '¿Cree que tiene más problemas con su memoria que los demás?' %><br>
    <%= f.select :f14, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f15, '¿Cree que es maravilloso vivir?' %><br>
    <%= f.select :f15, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f16, '¿Se siente usted a menudo triste?' %><br>
    <%= f.select :f16, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f17, '¿Se siente usted inútil?' %><br>
    <%= f.select :f17, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f18, '¿Se preocupa mucho sobre el pasado?' %><br>
    <%= f.select :f18, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f19, '¿Cree que la vida es muy interesante? ' %><br>
    <%= f.select :f19, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f20, '¿Es difícil para usted empezar proyectos nuevos? ' %><br>
    <%= f.select :f20, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f21, '¿Se siente lleno de energía?' %><br>
    <%= f.select :f21, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f22, '¿Se siente usted sin esperanza?' %><br>
    <%= f.select :f22, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f23, '¿Cree usted que los demás tienen más suerte que usted? ' %><br>
    <%= f.select :f23, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f24, '¿Se pone usted muy nervioso por pequeñas cosas? ' %><br>
    <%= f.select :f24, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f25, '¿Siente a menudo ganas de llorar? ' %><br>
    <%= f.select :f25, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f26, '¿Es dificil para usted concentrarse? ' %><br>
    <%= f.select :f26, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f27, '¿Está contento de levantarse por la mañana? ' %><br>
    <%= f.select :f27, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f28, '¿Prefiere evitar grupos de gente?' %><br>
    <%= f.select :f28, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f29, '¿Es fácil para usted tomar decisiones? ' %><br>
    <%= f.select :f29, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :f30, '¿Está su mente tan clara como antes? ' %><br>
    <%= f.select :f30, Test::YESNO  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
