<h1>Listing test_yesavage30s</h1>

<table>
  <thead>
    <tr>
      <th>F1</th>
      <th>F2</th>
      <th>F3</th>
      <th>F4</th>
      <th>F5</th>
      <th>F6</th>
      <th>F7</th>
      <th>F8</th>
      <th>F9</th>
      <th>F10</th>
      <th>F11</th>
      <th>F12</th>
      <th>F13</th>
      <th>F14</th>
      <th>F15</th>
      <th>F16</th>
      <th>F17</th>
      <th>F18</th>
      <th>F19</th>
      <th>F20</th>
      <th>F21</th>
      <th>F22</th>
      <th>F23</th>
      <th>F24</th>
      <th>F25</th>
      <th>F26</th>
      <th>F27</th>
      <th>F28</th>
      <th>F29</th>
      <th>F30</th>
      <th>Consultation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_yesavage30s.each do |test_yesavage30| %>
      <tr>
        <td><%= test_yesavage30.f1 %></td>
        <td><%= test_yesavage30.f2 %></td>
        <td><%= test_yesavage30.f3 %></td>
        <td><%= test_yesavage30.f4 %></td>
        <td><%= test_yesavage30.f5 %></td>
        <td><%= test_yesavage30.f6 %></td>
        <td><%= test_yesavage30.f7 %></td>
        <td><%= test_yesavage30.f8 %></td>
        <td><%= test_yesavage30.f9 %></td>
        <td><%= test_yesavage30.f10 %></td>
        <td><%= test_yesavage30.f11 %></td>
        <td><%= test_yesavage30.f12 %></td>
        <td><%= test_yesavage30.f13 %></td>
        <td><%= test_yesavage30.f14 %></td>
        <td><%= test_yesavage30.f15 %></td>
        <td><%= test_yesavage30.f16 %></td>
        <td><%= test_yesavage30.f17 %></td>
        <td><%= test_yesavage30.f18 %></td>
        <td><%= test_yesavage30.f19 %></td>
        <td><%= test_yesavage30.f20 %></td>
        <td><%= test_yesavage30.f21 %></td>
        <td><%= test_yesavage30.f22 %></td>
        <td><%= test_yesavage30.f23 %></td>
        <td><%= test_yesavage30.f24 %></td>
        <td><%= test_yesavage30.f25 %></td>
        <td><%= test_yesavage30.f26 %></td>
        <td><%= test_yesavage30.f27 %></td>
        <td><%= test_yesavage30.f28 %></td>
        <td><%= test_yesavage30.f29 %></td>
        <td><%= test_yesavage30.f30 %></td>
        <td><%= test_yesavage30.consultation %></td>
        <td><%= link_to 'Show', test_yesavage30 %></td>
        <td><%= link_to 'Edit', edit_test_yesavage30_path(test_yesavage30) %></td>
        <td><%= link_to 'Destroy', test_yesavage30, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test yesavage30', new_test_yesavage30_path %>
