

  <div class="form-group">
    <%= f.label :f1, 'Dígame el día ____ mes ____ estación ____ año ____' %><br>
    <%= f.select :f1, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f2, 'Dígame el lugar ____ planta ____ ciudad ____ provincia ____ país ____' %><br>
    <%= f.select :f2, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f3, 'Repita estas 3 palabras: peseta-caballo-manzana (Repetirlas lentamente hasta que se las aprenda) ' %><br>
    <%= f.select :f3, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f4, 'Si tiene 30 pesetas y me va dando de 3 en 3, ¿cuántas le van quedando?' %><br>
    <%= f.select :f4, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f5, 'Repita estos números: 5-9-2 (hasta que se los aprenda). Ahora, hacia detrás.' %><br>
    <%= f.select :f5, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f6, '¿Recuerda las 3 palabras que le he dicho antes? ' %><br>
    <%= f.select :f6, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f7, 'Mostrar un bolígrafo: ¿Qué es esto? Repetirlo con el reloj.' %><br>
    <%= f.select :f7, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f8, 'Repita esta frase: "En un trigal había cinco perros ..."' %><br>
    <%= f.select :f8, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f9, 'Una manzana y una pera son frutas, ¿verdad? ¿Qué son el rojo y el verde? ¿Qué son un perro y un gato?' %><br>
    <%= f.select :f9, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f10, 'Coja este papel con la mano derecha, dóblelo y póngalo encima de la mesa ' %><br>
    <%= f.select :f10, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f11, 'Lea esto y haga lo que dice: CIERRE LOS OJOS ' %><br>
    <%= f.select :f11, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f12, 'Escriba una frase ' %><br>
    <%= f.select :f12, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f13, 'Copie este dibujo ' %><br>
    <%= f.select :f13, TestFaq::OPTIONS %>
  </div>


