<p id="notice"><%= notice %></p>

<p>
  <strong>F1:</strong>
  <%= @test_mec.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @test_mec.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @test_mec.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @test_mec.f4 %>
</p>

<p>
  <strong>F5:</strong>
  <%= @test_mec.f5 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @test_mec.f6 %>
</p>

<p>
  <strong>F7:</strong>
  <%= @test_mec.f7 %>
</p>

<p>
  <strong>F8:</strong>
  <%= @test_mec.f8 %>
</p>

<p>
  <strong>F9:</strong>
  <%= @test_mec.f9 %>
</p>

<p>
  <strong>F10:</strong>
  <%= @test_mec.f10 %>
</p>

<p>
  <strong>F11:</strong>
  <%= @test_mec.f11 %>
</p>

<p>
  <strong>F12:</strong>
  <%= @test_mec.f12 %>
</p>

<p>
  <strong>F13:</strong>
  <%= @test_mec.f13 %>
</p>

