

  <div class="form-group">
    <%= f.label :f1, 'Para recordar los nombres de personas más íntimas (parientes, amigos) (*)' %><br>
    <%= f.select :f1, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f2, 'Recordar cosas que han sucedido recientemente, durante los dos o tres últimos meses (noticias, cosas suyas o de sus familiares) (*)' %><br>
    <%= f.select :f2, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f3, 'Recordad de qué se habló en una conversación unos días antes (*)' %><br>
    <%= f.select :f3, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f4, 'Olvidar que ha dicho unos minutos antes, pararse en mitad de una frase y no saber que iba a decir, repetir lo dicho un rato antes (*)' %><br>
    <%= f.select :f4, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f5, 'Recordar la fecha en que se vive (*)' %><br>
    <%= f.select :f5, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f6, 'Conocer el lugar exacto de los armarios de su casa y dónde se guardan las cosas (*)' %><br>
    <%= f.select :f6, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f7, 'Saber donde va una cosa que se ha encontrado descolocada (*)' %><br>
    <%= f.select :f7, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f8, 'Aprender a utilizar un aparato nuevo (lavadora, tocadiscos, radio, etc.) (*)' %><br>
    <%= f.select :f8, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f9, 'Recordar las cosas que han sucedido recientemente (*)' %><br>
    <%= f.select :f9, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f10, 'Aprender cosas nuevas (en general) (*)' %><br>
    <%= f.select :f10, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f11, 'Comprender el significado de palabras poco usuales (del periodico, TV, conversación) (*)' %><br>
    <%= f.select :f11, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f12, 'Entender los artículos de periódicos y revistas en los que está interesado (*)' %><br>
    <%= f.select :f12, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f13, 'Seguir una historia en un libro, la prensa, el cine, la radio o la TV (*)' %><br>
    <%= f.select :f13, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f14, 'Tomar decisiones tanto en cuestiones cotidianas (qué ropa ponerse, qué comida preparar) como un asuntos de más trascendencia (donde invertir el dinero, o ir de vacaciones) (*)' %><br>
    <%= f.select :f14, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f15, 'Control de los asunto financieros (cobrar la pensión, pagar los impuestos, troto con el banco) (*)' %><br>
    <%= f.select :f15, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f16, 'Control de otros problemas de cálculo cotidiano (tiempo entre visitas de familiares, distancias entre lugares y cuánta comida comprar y preparar especialmente si hay invitados) (*)' %><br>
    <%= f.select :f16, TestIqcode::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f17, '¿Cree que sus inteligencias (en general) ha cambiado duranto los últimos diez años? (*)' %><br>
    <%= f.select :f17, TestIqcode::OPTIONS %>
  </div>




