<h1>Listing test_iqcodes</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Second</th>
      <th>Third</th>
      <th>Forth</th>
      <th>Fifth</th>
      <th>Sixth</th>
      <th>Seventh</th>
      <th>Eighth</th>
      <th>Ninth</th>
      <th>Tenth</th>
      <th>Eleventh</th>
      <th>Twelfth</th>
      <th>Thirteenth</th>
      <th>Fourteenth</th>
      <th>Fifteenth</th>
      <th>Sixteenth</th>
      <th>Seventeenth</th>
      <th>Consultation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_iqcodes.each do |test_iqcode| %>
      <tr>
        <td><%= test_iqcode.first %></td>
        <td><%= test_iqcode.second %></td>
        <td><%= test_iqcode.third %></td>
        <td><%= test_iqcode.forth %></td>
        <td><%= test_iqcode.fifth %></td>
        <td><%= test_iqcode.sixth %></td>
        <td><%= test_iqcode.seventh %></td>
        <td><%= test_iqcode.eighth %></td>
        <td><%= test_iqcode.ninth %></td>
        <td><%= test_iqcode.tenth %></td>
        <td><%= test_iqcode.eleventh %></td>
        <td><%= test_iqcode.twelfth %></td>
        <td><%= test_iqcode.thirteenth %></td>
        <td><%= test_iqcode.fourteenth %></td>
        <td><%= test_iqcode.fifteenth %></td>
        <td><%= test_iqcode.sixteenth %></td>
        <td><%= test_iqcode.seventeenth %></td>
        <td><%= test_iqcode.consultation %></td>
        <td><%= link_to 'Show', test_iqcode %></td>
        <td><%= link_to 'Edit', edit_test_iqcode_path(test_iqcode) %></td>
        <td><%= link_to 'Destroy', test_iqcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test iqcode', new_test_iqcode_path %>
