<div class="jumbotron">
  <div class="container container-centered">
<div class="row">
    <div class="col-md-3">
      <%= link_to '',   new_consultation_test_yesavage15_path(@consultation), class: 'fa fa-pencil-square-o fa-3x' %>
      <h4><%= link_to 'Realizar test FAQ -TODO',  new_consultation_test_yesavage15_path(@consultation) %></h4>

    </div>

    <div class="col-md-3">
      <%= link_to '',  new_consultation_test_barthel_path(@consultation), class: 'fa fa-pencil-square-o fa-3x' %>
      <h4><%= link_to 'Realizar Test Barthel',  new_consultation_test_barthel_path(@consultation) %></h4>
    </div>

    <div class="col-md-3">
      <%= link_to '',new_consultation_test_fast_path(@consultation), class: 'fa fa-pencil-square-o fa-3x' %>
      <h4><%= link_to 'Realizar Test Fast',   new_consultation_test_fast_path(@consultation) %></h4>

    </div>

    <div class="col-md-3">
      <%= link_to '',new_consultation_test_katz_path(@consultation), class: 'fa fa-pencil-square-o fa-3x' %>
      <h4><%= link_to 'Realizar Test Katz',  new_consultation_test_katz_path(@consultation) %></h4>
    </div>
</div>
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to '',new_consultation_test_lawton_path(@consultation), class: 'fa fa-pencil-square-o fa-3x' %>
      <h4><%= link_to 'Realizar Test Lawton-Brody', new_consultation_test_lawton_path(@consultation) %></h4>
         </div>
    </div>

  </div> <!--/container-->
</div> <!--/Jumbotro n-->