<%= form_for([@consultation, @human_diagnosis],
						 builder: ApplicationHelper::MyFormBuilder,
						 html: {class: 'form-horizontal'} ) do |f| %>

    <!--
    This form don't show an error message because it won't be appreciated
    by the user here, so instead the controller will prompt and "alert" message
    on any error
    -->

	<div class="form-group">
      <%= f.label :diagnosis, 'Establecer' %>
      <%= f.select :diagnosis, HumanDiagnosis::DIAGNOSIS_OPTIONS %>
	</div>

    <div class="form-group">
      <%= f.label :observations, 'Observaciones' %>
      <%= f.text_area :observations %>
    </div>

	<div class="form-group">
      <div class="col-md-10">
		<div class="actions">
			<%= f.submit %>
		</div>
      </div>
	</div>

<% end %>