<% breadcrumb :new_consultation_human_diagnoses, @consultation %>

<% content_for :top_title do %>
    Diagnóstico <span class="text-muted"><%= @consultation.date %></span>
<% end %>
<% content_for :title do %>
    Establecer diagnóstico
<% end %>


<div class="jumbotron jumbotron-blank">
  <div class="container container-centered">

    <div class="row">
      <div class="col-md-6">
        <h2> Resultado diagnóstico computacional </h2>
      </div>
      <div class="col-md-6 alert">
            <% if @computer_diagnosis then %>
            <%= render 'shared/result_diagnosis' %>
            <%    else   %>
                <h3 class="no-blue-link"><strong><%= (link_to 'Realizar diagnóstico computacional ',  new_consultation_computer_diagnoses_path(@consultation), class: "alert alert-danger" )%></strong></h3>
            <%  end %>


       </div>
    </div>


    <br>
    <!--separator-->
    <div class="row">
      <div class="col-md-6 col-md-offset-6 ">
        <hr>
      </div>
    </div>
    <!--/separator-->

    <div class="row">

      <div class="col-md-4 col-md-offset-1">
        <h2>Resultado tests adicionales</h2>
      </div>


      <!--TODO: Cambiar esto por un each que saque todos los tests adicionales y los vaya mostrando..y quizá
                meterlo en una vista parcial  -->
      <div class="col-md-4 col-md-offset-1  text-center">
            <a class="fa fa-pencil-square-o fa-3x"></a>
        <h4>Test del reloj</h4>
      </div>

      <div class="col-md-2 text-center ">
        <% if @test_reloj then %>
            <h3 class="text-muted">
              <%= @test_reloj.score %>
              <h4> <%= link_to "ver test", [@consultation, @test_reloj] %></h4>
            </h3>
        <%    else   %>
            <h4><%= link_to 'click para realizar test',new_consultation_test_reloj_path(@consultation) %></h4>
        <%  end %>

      </div>

    </div>

    <!--separator-->
    <div class="row">
      <div class="col-md-6 col-md-offset-6 ">
        <hr>
      </div>
    </div>
    <!--/separator-->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>Diagnóstico facultativo</h2>
        </div>
    </div>
    <br>

    <%= render 'form' %>
    <!-- TODO: Poner aquí un render partial de los diagnósticos facultativos realizados en esta consulta-->


  </div> <!--/container-->
</div> <!--/jumbotron-->
