<!--URL patients/1/historia-completa -->
<% breadcrumb :patient_full_history, @patient %>
<% content_for :top_title do %>
    Historia de paciente <span class="text-muted"><%= @patient.name %></span>
<% end %>
<% content_for :title do %>
    Historia completa
<% end %>

<%= render partial: 'shared/consultations_history',
					 locals: { consultations: @patient.consultations } %>

<%= render partial: 'shared/tests_history_typed', locals: { tests: @patient.tests } %>

<%= render partial: 'shared/examinations_history', locals: { examinations: @patient.examinations } %>

<%= render partial: 'pathologies/historico_pathologies', locals: { pathologies: @patient.pathologies } %>

<%= render partial: 'pruebas/historico_pruebas', locals: { pruebas: @patient.pruebas } %>

<%= render partial: 'habitos/historico_habitos', locals: { habitos: @patient.habitos } %>



