

  <div class="form-group">
    <%= f.label :f1, 'Escribir cheques, pagar facturas o comparar talonarios.' %><br>
    <%= f.select :f1, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f2, 'Impuestos, asuntos de negocios y otros papeles.' %><br>
    <%= f.select :f2, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f3, 'Ir de compras solo (ropa, necesidades del hogar o comestibles).' %><br>
    <%= f.select :f3, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f4, 'Jugar a juegos de habilidad (tales como el ajedrez), o realizar hobbies.' %><br>
    <%= f.select :f4, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f5, 'Calentar agua, hacer una taza de café, apagar la estufa, etc.' %><br>
    <%= f.select :f5, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f6, 'Preparar una comida equilibrada.' %><br>
    <%= f.select :f6, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f7, 'Prestar atención a eventos que están ocurriendo.' %><br>
    <%= f.select :f7, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f8, 'Prestar atención y entender un programa de TV, libro o revista.' %><br>
    <%= f.select :f8, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f9, 'Recordar reuniones, ocasiones familiares, vacaciones, medicinas...' %><br>
    <%= f.select :f9, TestFaq::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f10, 'Pasear por el vecindario, conducir o tomar el transporte público.' %><br>
    <%= f.select :f10, TestFaq::OPTIONS %>
  </div>



