<%= form_for([@patient, @consultation] ,
             builder: ApplicationHelper::MyFormBuilder,
             :html => { :class => 'form-horizontal' } )  do |f| %>

  <% if @consultation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

      <ul>
      <% @consultation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :activity,'Tipo atención' %><br>
    <%= f.select :activity, Consultation::ACTIVITY, { include_blank: 'Seleccionar...' } %>
  </div>
  <div class="form-group">
    <%= f.label :date,'Fecha consulta' %><br>
    <%= f.date_select :date %>
  </div>
  <div class="form-group">
    <%= f.label :description,'Observaciones' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
