<%= form_for([@patient, @consultation] ,
             builder: ApplicationHelper::MyFormBuilder,
             :html => { :class => 'form-horizontal' } )  do |f| %>

  <% if @consultation.errors.any? %>
        <div id="error_explanation">
          <div class="<%= flash_class(:error) %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3>Por favor, establezca el tipo de atención en el recuadro inferior </h3>

          </div>
        </div>
  <% end %>


  <div class="form-group">
    <%= f.label :activity,'Tipo atención' %><br>
    <%= f.select :activity, Consultation::ACTIVITY, { include_blank: 'Seleccionar...' } %>
  </div>
  <div class="form-group">
    <%= f.label :date,'Fecha consulta' %><br>
    <%= f.date_select :date, start_year: 1900, end_year: Date.today.year  %>
  </div>
  <div class="form-group">
    <%= f.label :description,'Observaciones' %><br>
    <%= f.text_area :description %>
  </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
