<!--Jumbotron containing a link to every kind of consult -->
<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <%= link_to 'Sintomatología cognitiva', consultation_cognitive_symptomatology_path(@consultation), class: 'btn btn-default' %>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <%= link_to 'Sintomatología no cognitiva', consultation_no_cognitive_symptomatology_path(@consultation), class: 'btn btn-default' %>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <%= link_to 'Exploración Funcional', consultation_exploracion_funcional_path(@consultation), class: 'btn btn-default' %>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <%= link_to 'Exploración Neurológica', consultation_neurological_examination_path(@consultation), class: 'btn btn-default' %>
      </div>
    </div>


    <div class="row">

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <%= link_to 'Exploración Física y Cardiaca', consultation_physical_examination_path(@consultation), class: 'btn btn-default' %>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_habits.html"><button type="button" class="btn btn-default">Hábitos</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_patologies.html"> <button type="button" class="btn btn-default">Patologías Intercurrentes</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_complementary.html"><button type="button" class="btn btn-default">Pruebas complementarias</button></a>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 col-md-offset-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_farmacology.html"><button type="button" class="btn btn-default">Prescripción farmacológica</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>

        <%= link_to 'Diagnóstico', diagnosis_path, class: 'btn btn-default'  %>
      </div>

    </div>

  </div> <!--/container-->
</div> <!--/Jumbotron-->