<!--Jumbotron containing a link to every kind of consult -->
<div class="jumbotron jumbotron-blank">
  <div class="container container-centered">


    <div class="row">
      <div class="col-md-3">
        <%= link_to '', new_consultation_test_faq_path(@consultation)  , class: 'fa fa-pencil-square-o fa-4x' %>
        <h4><%= link_to 'Realizar test FAQ',  new_consultation_test_faq_path(@consultation) %></h4>
      </div>

      <div class="col-md-3">
        <%= link_to '', new_consultation_test_minimental_path(@consultation), class: 'fa fa-pencil-square-o fa-4x' %>
        <h4><%= link_to 'Realizar Test MMSE', new_consultation_test_minimental_path(@consultation) %></h4>
      </div>

      <div class="col-md-3 ">
        <%= link_to '', consultation_needed_tests_path(@consultation), class: 'fa fa-stethoscope fa-4x' %>
        <h4><%= link_to 'Tests adicionales', consultation_needed_tests_path(@consultation) %></h4>
      </div>

      <div class="col-md-3">
        <%= link_to '', new_consultation_diagnoses_path(@consultation), class: 'fa fa-check fa-4x' %>
        <h4><%= link_to 'Solicitar Diagnóstico ', new_consultation_diagnoses_path(@consultation) %> </h4>
        <!-- TODO El link de arriba iría directamente a la vista diagnoses/new.html -->
      </div>

    </div>

  </div> <!--/container-->
</div> <!--/Jumbotron-->