<!--URL /patients/1/consultations -->
<!-- TODO - comprobar que el orden de las consultas es correcto -->
<!-- TODO - introducir fechas en el db seed  -->

<% breadcrumb :patient, @patient%>

<% content_for :title do %>
    <%= @patient.full_name %> - Historia clínica
<% end %>

<% content_for :top_title do %>
    <%= @patient.full_name %> - Historia clínica
<% end %>

<% content_for :top_right do %>
    <h2 class="text-muted"> <%= @patient.full_name %></h2>
    <h4>Número historia clínica: <span class="text-muted"> <%= @patient.id2 || 'Sin número' %> </span> </h4>
<% end %>

<%= render 'consultations/first_menu' %>
<%= render partial: 'shared/consultations_history',
					 locals: { consultations: @patient.consultations } %>
