<!-- /patients -->

<% breadcrumb :patient, @patient%>

<% content_for :title do %>
    <%= @patient.full_name %> - Historia clínica
<% end %>

<% content_for :top_title do %>
    <%= @patient.full_name %> - Historia clínica
<% end %>

<% content_for :top_right do %>
    <h2 class="text-muted"> <%= @patient.full_name %></h2>
    <h4>Número historia clínica: <span class="text-muted"> <%= @patient.id %> </span> <h4>
<% end %>


<%= render 'consultations/first_menu' %>


  <div class="jumbotron">
    <h4>Lista de consultas del paciente</h4>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tr>

          <th>NHC</th>
          <th>Consulta</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Facultativo</th>
          <th>Detalles</th>
        </tr>
        <% @consultations.each do |consultation| %>
            <tr>
              <td><%= consultation.patient_id %> </td>        <!-- NHC-->

              <td><%= consultation.id %> </td>        <!-- Consulta-->

              <td><%= consultation.date %>  </td>   <!-- Fecha-->

              <td><%= consultation.activity_text %></td>    <!-- Tipo-->

              <td><%= consultation.physician.full_name %></td> <!-- Facultativo-->

              <td><%= link_to 'Ver historia consulta', [consultation.patient, consultation] %></td>
              <!-- Historia-->
            </tr>
        <% end %>
    </div>
    <!--/.responsive-table-->


  </div>
  <!-- /container -->




