<%= form_for([@consultation, @computer_diagnosis],
    builder: ApplicationHelper::MyFormBuilder,
    :html => {:class =>'form-horizontal'}
    ) do |f| %>

  <% if @computer_diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer_diagnosis.errors.count, "error") %> impidieron que se realizara este diagnóstico</h2>
      <ul>
      <% @computer_diagnosis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :faq, 'Resultado Test FAQ (*)' %>
      <%= f.text_field :faq %>
      <a href="view_of_FAQ.htmkl">Realizar Test FAQ</a>
    </div>

    <div class="form-group">
      <%= f.label :mmse, 'Resultado Test MMSE (*)' %>
      <%= f.text_field :mmse %>
      <a href="view_of_mmse.html">Realizar Test MMSE</a>
    </div>

    <div class="form-group">
      <a href="view_of_mmse.html">Solicitar diagnóstico computacional</a>
    </div>


    <div class="form-group">
        <div class="actions">
            <%= f.submit %>
        </div>
    </div>
<% end %>
