<% breadcrumb :new_consultation_computer_diagnoses, @consultation %>


<% content_for :top_title do %>
    Solicitar diagnóstico  consulta <span class="text-muted"><%= @consultation.date %></span>
<% end %>
<% content_for :title do %>
    Nuevo diagnóstico
<% end %>

<div class="jumbotron jumbotron-blank">

  <div class="container container-centered">

    <div class="row"><!--Test FAQ-->

      <div class="col-md-6">
        <a class="fa fa-pencil-square-o fa-3x"></a>
        <h4>Puntuación FAQ</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted">
          <% if @test_faq then %>
              <%= @test_faq.score %>
              <h4><%=(link_to "ver test", [@consultation, @test_faq] )%></h4>

          <%    else   %>

              <%= (link_to 'click para realizar test   ',
													 new_consultation_test_faq_path(
															 @consultation,
															 redirect_to: new_consultation_computer_diagnoses_path(@consultation)
													 ),
                           class:"alert alert-danger" ) %>
          <%  end %>

        </h3>
      </div>

    </div> <!--/row -->

    <div class="row"> <!--Test MMSE-->

      <div class="col-md-6">
        <a class="fa fa-pencil-square-o fa-3x"></a>
        <h4>Puntuación MMSE</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted">
          <% if @test_minimental then %>
              <%= @test_minimental.score %>
              <h4> <%= link_to "ver test", [@consultation, @test_minimental] %></h4>
          <%    else   %>

              <%= (link_to 'click para realizar test   ',
													 new_consultation_test_minimental_path(
															@consultation,
													 		redirect_to: new_consultation_computer_diagnoses_path(@consultation)
															),
                           class:"alert alert-danger" ) %>
          <%  end %>

        </h3>


      </div>

    </div><!--/row -->

    <div class="row"> <!--Edad-->

      <div class="col-md-6">
        <a class="fa fa-calendar-o fa-3x"></a>
        <h4>Edad</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted"><%= @patient.age %></h3>
      </div>

    </div><!--/row -->

    <div class="row"> <!--Edad-->

      <div class="col-md-6">
        <a class="fa fa-font fa-3x"></a>
        <h4>Alfabetización</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted"><%= @patient.education_text %></h3>
      </div>

    </div><!--/row -->


    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div> <!--/row-->

    <div class="row">

      <div class="col-md-4 col-md-offset-4">
        <%= link_to '', consultation_computer_diagnoses_path, method: :post,
                    class:"fa fa-gears fa-3x"%>
        <h4><%= link_to 'Solicitar diagnóstico computacional', consultation_computer_diagnoses_path, method: :post %></h4>
      </div>

    </div>


  </div> <!--/container-->
</div> <!--/Jumbotron-->
