<%= form_for([@consultation,@test_yesavage4] ,
             builder: ApplicationHelper::MyFormBuilder ) do |f| %>
  <% if @test_yesavage4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_yesavage4.errors.count, "error") %> prohibited this test_yesavage4 from being saved:</h2>

      <ul>
      <% @test_yesavage4.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first, '¿Está usted satisfecho de su vida?' %><br>
    <%= f.select :first, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :second, '¿Siente que su vida está vacía?' %><br>
    <%= f.select :second, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :third, '¿Tiene miedo de que algo malo de vaya a pasar?' %><br>
    <%= f.select :third, Test::YESNO  %>
  </div>
  <div class="field">
    <%= f.label :forth, '¿Se siente usted feliz la mayoría del tiempo?' %><br>
    <%= f.select :forth, Test::YESNO  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
