<h1>Listing test_yesavage4s</h1>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Second</th>
      <th>Third</th>
      <th>Forth</th>
      <th>Consultation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_yesavage4s.each do |test_yesavage4| %>
      <tr>
        <td><%= test_yesavage4.first %></td>
        <td><%= test_yesavage4.second %></td>
        <td><%= test_yesavage4.third %></td>
        <td><%= test_yesavage4.forth %></td>
        <td><%= test_yesavage4.consultation %></td>
        <td><%= link_to 'Show', test_yesavage4 %></td>
        <td><%= link_to 'Edit', edit_test_yesavage4_path(test_yesavage4) %></td>
        <td><%= link_to 'Destroy', test_yesavage4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test yesavage4', new_test_yesavage4_path %>
