<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @test_yesavage4.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @test_yesavage4.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @test_yesavage4.third %>
</p>

<p>
  <strong>Forth:</strong>
  <%= @test_yesavage4.forth %>
</p>

