<% breadcrumb :quick_diagnosis %>

<% content_for :title do %>
    Diagnóstico rápido
<% end %>

<% content_for :top_title do %>
    Diagnóstico rápido
<% end %>

<div class="jumbotron jumbotron-blank">
  <div class="container container-centered">

<%= form_for @computer_diagnosis,
						 :url => quick_diagnoses_path,
             :html => { :class => 'form-horizontal',
                        id: 'form_id'}   do |f| %>

        <% if @computer_diagnosis.errors.any? %>
            <div id="error_explanation">
              <div class="<%= flash_class(:error) %>">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h3> Por favor, rellene correctamente los campos marcados en rojo</h3>
                <ul>
                  <% if @computer_diagnosis.errors[:mmse_score].any? %>
                      <h4><li>Puntuación de MMSE debe estar entre 0 y 30</li></h4>
                  <% end %>
                  <% if @computer_diagnosis.errors[:faq_score].any? %>
                      <h4><li>Puntuación de FAQ debe estar entre 0 y 30</li></h4>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>

      <div class="form-group">
        <div class="col-md-1 col-md-offset-3"><a class="fa fa-pencil-square-o fa-3x"></a></div>
        <div class="col-md-3">
            <%= f.label :faq_score, 'Puntuación FAQ' %>
          <h4><%= link_to '(Realizar test)', new_quick_test_faq_path %></h4>
        </div>
        <div class="col-md-1">
          <%= f.number_field :faq_score, value: session[:faq_score], class: 'form-control input-sm' %>
        </div>

      </div>

      <div class="form-group">
        <div class="col-md-1 col-md-offset-3"><a class="fa fa-pencil-square-o fa-3x"></a></div>
        <div class="col-md-3">
					<%= f.label :mmse_score, 'Puntuación MMSE'  %>
					<h4><%= link_to '(Realizar test)', new_quick_test_minimental_path %></h4>
        </div>
        <div class="col-md-1">
          <%= f.number_field :mmse_score, value: session[:minimental_score], class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-1 col-md-offset-3">
          <a class="fa fa-calendar-o fa-3x"></a>
        </div>
        <div class="col-md-3">
          <%= f.label :age, 'Edad' %>
        </div>
        <div class="col-md-1">
          <%= f.number_field :age ,class: 'form-control input-sm' %>
        </div>
      </div>

      <div id='education' class="form-group">
        <div class="col-md-1 col-md-offset-3">
          <a class="fa fa-font fa-3x"></a>
        </div>
        <div class="col-md-3">
          <%= f.label :education_select, 'Escolaridad' %>
        </div>
        <div class="col-md-4">
          <%= f.select :education_select,
											 Patient::EDUCATIONS ,
											 { include_blank: 'Seleccionar...' } ,
											 class:'form-control',
											 id: 'patient_education_select'
					%>
        </div>
      </div>

      <div id='patient_education_div'
           class="form-group text-right text-muted"
           style="display:<%= @computer_diagnosis.education_select == -1  ? 'inline' : 'none' %> ;" >

        <div class="col-md-4 col-md-offset-3">
          <%= f.label :education, 'Otro' %>
        </div>
        <div class="col-md-1">
          <%= f.number_field :education , class:'form-control input-sm', id: 'patient_education' %>
        </div>
        <div class="col-md-2 text-muted text-left">Máx. 20 años</div>

      </div>


      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <hr>
        </div>
      </div> <!--/row-->


      <div class="form-group">
        <div class="actions">
          <div class="col-md-4 col-md-offset-4">
            <!--We don't use a helper here because we want to make the input look like a font-awesome icon-->
            <!-- To change the style of the submit, it has to be a button, not an input -->
            <button type="submit" class="button_font_awesome">
                <a class="fa fa-gears fa-3x"></a>
            </button>
            <h4><%= f.submit "Solicitar diagnóstico computacional", class:"button_link" %> </h4>
          </div>
        </div>

      </div>


 <% end %>
  </div> <!--/container-->
</div> <!--/Jumbotron-->
