<div class="jumbotron">
  <div class="container">

    <%= form_for([@consultation, @no_cognitive_symptomatology],
                 html: {class: 'form-horizontal', role: 'form'},
                 builder: ApplicationHelper::MyFormBuilder ,
                 url: consultation_no_cognitive_symptomatology_path(@consultation) ) do |f| %>


        <div class="form-group">
          <%= f.label :psychomotor %>
          <%= f.select :psychomotor, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :lability %>
          <%= f.select :lability, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :euphoria %>
          <%= f.select :euphoria, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :apathy %>
          <%= f.select :apathy, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :depression %>
          <%= f.select :depression, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :anxiety %>
          <%= f.select :anxiety, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :hallucinations %>
          <%= f.select :hallucinations, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :delusions %>
          <%= f.select :delusions, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :disinhibition %>
          <%= f.select :disinhibition, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :motor %>
          <%= f.select :motor, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <%= f.label :sleep %>
          <%= f.select :sleep, Examination::NOYESUNKNOWN %>
        </div>
        <div class="form-group">
          <div class="actions">
            <%= f.submit %>
          </div>
        </div>
    <% end %>
  </div> <!--/jumbotron-->

</div> <!-- /container -->