<h1 class="featurette-heading">Realización de tests <span class="text-muted"></span></h1>
<!--TODO: Mirar bien este layout -->
<div class="jumbotron">
  <div class="container">

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-eye-open"></span>
        <p></p>
      </div>
      <%= link_to 'Realizar test Yesavage 4', new_consultation_test_yesavage4_path(@consultation), class: 'btn btn-default' %>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p> </p>
      </div>
      <%= link_to 'Realizar test Yesavage 10', new_consultation_test_yesavage10_path(@consultation), class: 'btn btn-default' %>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p>
      </div>
      <%= link_to 'Realizar test Yesavage 15', new_consultation_test_yesavage15_path(@consultation), class: 'btn btn-default' %>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p>
      </div>
      <%= link_to 'Realizar test Yesavage 30', new_consultation_test_yesavage30_path(@consultation), class: 'btn btn-default' %>
    </div>

    <div class="col-md-3 ">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p>
      </div>
      <%= link_to 'Realizar Test NPI', new_consultation_test_npi_path(@consultation), class: 'btn btn-default' %>
    </div>

  </div> <!--/container-->
</div> <!--/Jumbotro n-->