<h1>Listing no_cognitive_symptomatologies</h1>

<table>
  <thead>
    <tr>
      <th>Psychomotor</th>
      <th>Lability</th>
      <th>Euphoria</th>
      <th>Apathy</th>
      <th>Depression</th>
      <th>Anxiety</th>
      <th>Hallucinations</th>
      <th>Delusions</th>
      <th>Disinhibition</th>
      <th>Motor</th>
      <th>Sleep</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @no_cognitive_symptomatologies.each do |no_cognitive_symptomatology| %>
      <tr>
        <td><%= no_cognitive_symptomatology.psychomotor %></td>
        <td><%= no_cognitive_symptomatology.lability %></td>
        <td><%= no_cognitive_symptomatology.euphoria %></td>
        <td><%= no_cognitive_symptomatology.apathy %></td>
        <td><%= no_cognitive_symptomatology.depression %></td>
        <td><%= no_cognitive_symptomatology.anxiety %></td>
        <td><%= no_cognitive_symptomatology.hallucinations %></td>
        <td><%= no_cognitive_symptomatology.delusions %></td>
        <td><%= no_cognitive_symptomatology.disinhibition %></td>
        <td><%= no_cognitive_symptomatology.motor %></td>
        <td><%= no_cognitive_symptomatology.sleep %></td>
        <td><%= link_to 'Show', no_cognitive_symptomatology %></td>
        <td><%= link_to 'Edit', edit_no_cognitive_symptomatology_path(no_cognitive_symptomatology) %></td>
        <td><%= link_to 'Destroy', no_cognitive_symptomatology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New No cognitive symptomatology', new_no_cognitive_symptomatology_path %>
