<p id="notice"><%= notice %></p>

<p>
  <strong>Psychomotor:</strong>
  <%= @no_cognitive_symptomatology.psychomotor %>
</p>

<p>
  <strong>Lability:</strong>
  <%= @no_cognitive_symptomatology.lability %>
</p>

<p>
  <strong>Euphoria:</strong>
  <%= @no_cognitive_symptomatology.euphoria %>
</p>

<p>
  <strong>Apathy:</strong>
  <%= @no_cognitive_symptomatology.apathy %>
</p>

<p>
  <strong>Depression:</strong>
  <%= @no_cognitive_symptomatology.depression %>
</p>

<p>
  <strong>Anxiety:</strong>
  <%= @no_cognitive_symptomatology.anxiety %>
</p>

<p>
  <strong>Hallucinations:</strong>
  <%= @no_cognitive_symptomatology.hallucinations %>
</p>

<p>
  <strong>Delusions:</strong>
  <%= @no_cognitive_symptomatology.delusions %>
</p>

<p>
  <strong>Disinhibition:</strong>
  <%= @no_cognitive_symptomatology.disinhibition %>
</p>

<p>
  <strong>Motor:</strong>
  <%= @no_cognitive_symptomatology.motor %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @no_cognitive_symptomatology.sleep %>
</p>

<%= link_to 'Edit', edit_no_cognitive_symptomatology_path(@no_cognitive_symptomatology) %> |
<%= link_to 'Back', no_cognitive_symptomatologies_path %>
