<!-- this expects a consultations set to render the consultations -->
<div class="jumbotron text-center" id="collapsable_jumbotron">
 <% if request.path == patient_full_history_path %>
  <a data-toggle="collapse" data-parent="#collapsable_jumbotron" href="#collapsable_consultations">
    <i class="fa fa-list fa-2x"> </i><h3> Lista de consultas del paciente</h3>
  </a>
  <div id="collapsable_consultations" class="collapse">
 <% else  %>

  <h4 class="text-left"> Lista de consultas del paciente</h4>

  <% end %>

  <!-- TODO: Hacer que si estamos en historia completa del paciente esto sea collapsable, si no, no -->
  <div class="table-responsive">

		<table class="table table-striped table-hover">
			<tr>
				<th>NHC</th>
				<th>Fecha de consulta</th>
				<th>Tipo</th>
				<th>Facultativo</th>
				<th>Detalles</th>
			</tr>
			<% consultations.each do |consultation| %>
					<tr>
						<td><%= consultation.patient.id2 || t('no-nhc') %> </td>        <!-- NHC-->
						<td><%= consultation.date %>  </td>   <!-- Fecha de consulta-->
						<td><%= consultation.activity_text %></td>    <!-- Tipo-->
						<td><%= consultation.physician.full_name %></td> <!-- Facultativo-->
						<td><%= link_to 'Historia consulta', [consultation.patient, consultation] %></td>
						<!-- Historia-->
					</tr>
			<% end %>
		</table>
	</div>
 <!--/.responsive-table-->
  </div> <!-- /collapsalbe_consultations -->

</div>
<!-- /container -->




