<!--Jumbotron containing a table -->
    <div class=" jumbotron jumbotron-blank" id="collapsable_jumbotron">
  <div class="row">
    <hr>
  </div>
  <div class="row">
          <% if @computer_diagnosis then %>
              <% if @computer_diagnosis.diagnosis == 0 %>    <!-- 0: Sano -->
                <div class="text-center alert alert-success">
                    Diagn贸stico computacional: <%= "#{@computer_diagnosis.diagnosis_text} - #{@computer_diagnosis.probability}" %>
                </div>
              <% elsif @computer_diagnoses.diagnosis == 1 %>  <!-- 1: Sano -->
                <div class="text-center alert alert-danger">
                  Diagn贸stico computacional: <%= "#{@computer_diagnosis.diagnosis_text} - #{@computer_diagnosis.probability}" %>
                </div>
              <% end %>
        <% end %>
   </div>
  <div class="row">
    <% if @human_diagnosis then %>
        <% if @human_diagnosis.diagnosis == 0 %>    <!-- 0: Sano -->
            <div class="text-center alert alert-success">
              Diagn贸stico facultativo: <%= "#{@human_diagnosis.diagnosis_text} " %>
            </div>
        <% elsif @human_diagnosis.diagnosis == 1 %>  <!-- 1: Sano -->
            <div class="text-center alert alert-danger">
              Diagn贸stico facultativo: <%= "#{@human_diagnosis.diagnosis_text}" %>
            </div>
        <% end %>
    <% end %>
   </div>
  <div class="row">
      <% if observations == "" %>
        <blockquote class="text-left">
          Observaciones de la consulta:  <i>(Sin observaciones)</i>
        </blockquote>
  <% else %>
        <blockquote class="text-left">
          Observaciones de la consulta:<i> <%= observations %></i>
        </blockquote>
      <% end %>

  </div>
</div> <!--/jumbotron-->