<!--Page header and breadcrumb -->
<div class="page-header">
  <div class="row">

    <div class="col-md-8">
      <%= yield :top_left %>
      <%= breadcrumbs style: :bootstrap %>

      <% if request.path != root_path %>
          <div class="col-md-1">
            <!--TODO: Poner aquí que vaya al parent del breadcrumb o algo así -->
            <%= (link_to '', request.env["HTTP_REFERER"], class:"fa fa-angle-double-left fa-2x") %>
          </div>
      <% end %>
      <h1 class="featurette-heading">
        <%= yield :top_title %>
      </h1>

    </div>

    <div class="col-md-4">
      <%= yield :top_right %>
    </div>

  </div> <!--/row-->

</div> <!-- /Page-header-->