<!--Page header and breadcrumb -->
<div class="page-header">
  <div class="row">

    <div class="col-md-8">
      <%= yield :top_left %>
      <%= breadcrumbs style: :bootstrap %>

      <% parent_breadcrumb do |link| %>
          <% if request.path !=  new_quick_diagnosis_path %>
          <div class="col-md-1">
          <%= link_to '', link.url , class:"icon-double-angle-left icon-2x" %>
        </div>
        <% end %>
      <% end %>

      <h1 class="featurette-heading">
        <%= yield :top_title %>
      </h1>

    </div>

    <div class="col-md-4">
      <%= yield :top_right %>
    </div>

  </div> <!--/row-->

</div> <!-- /Page-header-->