<!--Jumbotron containing a table -->
<div class="jumbotron">

  <h4>Test Realizados</h4>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
    	<% if tests.any?  %>

				<tr>
					<th>NHC</th>
					<th>Tipo Test</th>
					<th>Score</th>
					<th>Detalles</th>
				</tr>

				<% tests.each do |test| %>
						<tr>
							<td><%= test.patient.id2 || t('no-nhc') %></td>       <!-- NHC -->
							<td><%= t(test.test_data_type) %></td>       <!-- Tipo de Test -->
							<td><%= test.score %></td>       <!-- Score -->
							<td><%= link_to 'Ver detalles' , [consultation, test.test_data]%> </td>       <!-- Detalles -->
						</tr>
      	<% end %>

			<% else %>
				<i>No se le han realizado test de sintomatología cognitiva a este paciente. Puede hacerle uno presionando arriba. </i>
			<% end %>
    </table>
  </div> <!--/.responsive-table-->

  <%= paginate tests.page(page) %>






</div> <!--/jumbotron-->