<!-- Static navbar -->
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to '.e-pione', root_path, class:'navbar-brand' %>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class=<%= 'active' if current_page?(root_path) %>>
            <%= link_to 'Inicio', root_path %>
          </li>
          <li class=<%= 'active' if current_page?(patients_path) %>>
            <%= link_to 'Búsqueda de pacientes', patients_path %>
          </li>
          <li class=<%= 'active' if current_page?(new_patient_path) %> >
            <%= link_to 'Registrar nuevo paciente', new_patient_path %>
          </li>
          <!--TODO: Cambiar el path aquí cuando la vista esté hecha-->
          <li class=<%= 'active' if current_page?(new_patient_path) %> >
            <%= link_to 'Contactar', new_contacts_path %>
          </li>

          <!--TODO: Poner soporte técnico aquí? -->

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= button_to 'Desconectarse', destroy_physician_session_path, :method => :delete, class: 'btn btn-default navbar-btn' %> </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>