<%= form_for([@consultation,@test_reloj],
             builder: ApplicationHelper::MyFormBuilder ) do |f| %>
  <% if @test_reloj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_reloj.errors.count, "error") %> prohibited this test_reloj from being saved:</h2>

      <ul>
      <% @test_reloj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f1, 'Colocar el nº 12 en la parte superior' %><br>
    <%= f.select :f1, TestReloj::OPTIONSA%>
  </div>
  <div class="field">
    <%= f.label :f2, 'Dibujar las 2 Agujas del Reloj' %><br>
    <%= f.select :f2, TestReloj::OPTIONSB%>
  </div>
  <div class="field">
    <%= f.label :f3, 'Colocar los 12 números (Horas)' %><br>
    <%= f.select :f3, TestReloj::OPTIONSB%>
  </div>
  <div class="field">
    <%= f.label :f4, 'Poner la Hora indicada' %><br>
    <%= f.select :f4, TestReloj::OPTIONSB%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
