

  <div class="form-group">
    <%= f.label :f1, 'Colocar el nº 12 en la parte superior' %>
    <%= f.select :f1, TestReloj::OPTIONSA%>
  </div>
  <div class="form-group">
    <%= f.label :f2, 'Dibujar las 2 Agujas del Reloj' %>
    <%= f.select :f2, TestReloj::OPTIONSB%>
  </div>
  <div class="form-group">
    <%= f.label :f3, 'Colocar los 12 números (Horas)' %>
    <%= f.select :f3, TestReloj::OPTIONSB%>
  </div>
  <div class="form-group">
    <%= f.label :f4, 'Poner la Hora indicada' %>
    <%= f.select :f4, TestReloj::OPTIONSB%>
  </div>


