<p id="notice"><%= notice %></p>

<p>
  <strong>F1:</strong>
  <%= @test_reloj.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @test_reloj.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @test_reloj.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @test_reloj.f4 %>
</p>

