<% content_for :title do %>
Bienvenido a Babel
<% end %>
<% content_for :top_left do %>
    <h1 class="featurette-heading">Buenos días, <span class="text-muted">Dr. <%= current_physician.name %></span></h1>
<% end %>
<% content_for :top_right do %>
    <h2 class="text-muted"> <%= fecha_actual %></h2>
<% end %>


<div class="container container-centered" id="container-welcome"> <!--container-welcome has the structure presented below, created just to name this structure of row + 3 col-md-4-->
  <div class="row">
    <div class="col-md-4">
      <%= link_to '', new_patient_path, class: 'fa fa-check fa-5x' %>
      <h3> Diagnóstico rápido</h3>
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
      <%= link_to '', new_patient_path, class: 'fa fa-user fa-5x' %>
      <h3>Registrar nuevo paciente</h3>
    </div><!-- /.col-md-4 -->
    <div class="col-md-4">
      <%= link_to '', patients_path, class: 'fa fa-search-plus fa-5x' %>
     <h3>Búsqueda de pacientes</h3>
    </div><!-- /.col-md-4 -->



  </div><!-- /.row -->
</div>
<!-- /.container-->
