<div class="container">
  <h2 class="text-center"> TÉRMINOS DE PRIVACIDAD</h2>

  <p>

  BINNAC, por medio de su representante, David Díaz Clavijo,y  en adelante Clavijo, tiene como uno de sus principales objetivos ofrecer un servicio lo más seguro y confidencial posible, asegurando la privacidad de las comunicaciones y los datos personales de sus usuarios.

  Si el usuario desea tener acceso a los servicios ofrecidos en el sitio web de E-PIONE debe prestar su consentimiento de forma patente y voluntaria, cumplimentando los formularios de solicitud de registro.

  Clavijo está comprometido con Internet y con sus usuarios.</p>
   <p>
   Por ello, tiene como uno de sus principales compromisos cumplir y hacer cumplir los hábitos y normas de etiqueta de Internet y la legislación vigente en cada momento.

  La base de datos generada a partir del sitio E-PIONE es propiedad de Clavijo. En su calidad de propietario, el responsable de este fichero es Clavijo.
  </p>
 <p>
  Clavijo garantiza el cumplimiento de la normativa en materia de protección de datos,
  bajo los términos estipulados en la Ley Orgánica 15/1999, de 13 de diciembre,
  de Protección de Datos de Carácter Personal (en adelante, LOPD).
 </p>
  <p>
  Clavijo dispone de las medidas de seguridad para que
  de la mejor manera posible se garantice la seguridad y confidencialidad en el tratamiento automatizado de los datos de carácter personal sujetos a la LOPD.
  De acuerdo a lo establecido en el artículo 12 de la LOPD, Clavijo
  sólo accederá a los datos personales que el usuario ha almacenado en la base de datos conforme a sus instrucciones explícitas, y no los aplicará o utilizará con fin distinto al que figure en dicho contrato, ni los comunicará, ni siquiera para su conservación, a otras personas.
</p>
  <p>
  Los datos referentes a la solicitud de un diagnóstico de cualquier enfermedad neurodegenerativa y la opinión del usuario sobre su validez serán usados para mejorar el servicio inteligente de ayuda al diagnóstico. En ningún caso los datos de solicitud de un diagnóstico permiten conocer los datos personales del paciente para el que fue solicitado.

  En el momento en que un usuario solicita su registro en el servidor de E-PIONE sus datos personales pueden ser incorporados a la base de datos de E-PIONE para ofrecerle los productos y disfrutar de los servicios de E-PIONE.
   </p>
   <p>
  De conformidad con lo dispuesto en la normativa vigente, se comunica a los usuarios que cumplimenten
  el formulario correspondiente que sus datos personales serán incorporados a un fichero cuya creación ha
   sido debidamente notificada ante la Agencia Española de Protección de Datos.
  </p>
  <p>
  En todo momento, el usuario podrá ejercitar sus derechos de acceso, rectificación, cancelación y
    oposición al tratamiento de datos personales mediante comunicación remitida al Centro de Atención
    al Cliente de E-PIONE enviando un mensaje por correo electrónico a la dirección electrónica: soporte@e-pione.com.
</p>
  <h4>COOKIES</h4>
  <p>
  Una cookie es un fichero que se descarga en tu dispositivo al acceder a determinadas páginas Web.
  Las cookies permiten a la página Web, entre otras cosas, almacenar y recuperar información sobre tu
  número de visitas, los hábitos de navegación del usuario o de su equipo y, dependiendo de la información
  que contengan y de la forma en que utilice su equipo,
  pueden utilizarse para reconocer al usuario.
</p>
  <p>
  En las páginas web de E-PIONE utilizamos los siguientes tipos de cookies, las cuales son tratadas bien
  por nosotros directamente o por terceros colaboradores:
  </p>

  <p>
  Cookies técnicas:
    Son aquellas utilizadas por E-PIONE que permiten al usuario
  la navegación a través de la página Web y la utilización de las diferentes opciones o servicios
  que en ella existen como, por ejemplo, recordar los tests realizados y recordar la última sesión iniciada.
  </p>
  <p>
  Cookies de análisis: Son aquellas utilizadas por E-PIONE y por
    <%=link_to 'Google Analytics','http://www.google.com/intl/es/policies/privacy/',
               class: 'blue-link'%>  que nos permiten cuantificar el número de usuarios y así realizar la medición y análisis
    estadístico de la utilización y actividad que hacen los usuarios de nuestra página Web, así como elaborar de perfiles de navegación de los usuarios en dichas páginas y en nuestras aplicaciones, todo ello con el fin de introducir mejoras.
  </p>
  <p>
  Ten en cuenta que para poder utilizar determinados servicios y funcionalidades que
  te ofrecemos en E-PIONE es necesario que tengas habilitadas las cookies en tu navegador de Internet.
  </p>
  <p>
  En concreto, mediante estas cookies técnicas, E-PIONE podrá identificarte como usuario
  registrado cada vez que accedas a nuestra plataforma, permitiéndote así el acceso y uso a dichos servicios
    y funcionalidades.
  </p>
  <p>
  No obstante, recuerda que puedes permitir, bloquear o eliminar estas cookies cuando quieras a través de las opciones de configuración de tu navegador:
  </p>
  <p>
  <ul>
      <li><%=link_to 'Safari','http://support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES',
                     class: 'blue-link'%></li>
      <li><%= link_to 'Google Chrome', 'https://support.google.com/chrome/answer/95647?hl=es' ,
                      class: 'blue-link' %></li>
      <li><%= link_to 'Mozilla Firefox',
                      ' https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-' ,
                      class: 'blue-link' %></li>
      <li><%= link_to 'Internet Explorer',
                      'http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-10' ,
                      class: 'blue-link' %></li>
  </ul>
  </p>
  <p>
  Recuerda siempre acceder a la información de soporte más actualizada de dichos navegadores
    para conocer el modo en que puedes eliminar las cookies, dado que el modo puede diferir
    entre distintas versiones y sistemas operativos.
 </p>
 <p>
  En el caso de que utilices cualquier otro navegador de Internet,
   te recomendamos que consultes sus opciones de gestión de cookies.
 </p>



  </div>