.ContLAncho
  .OCntL
    .NoSubSp
      %p
        %span.Neg> Nombre:
        _________________________________________________
      %p
        %span.Neg> Número de Historia:
        _______
      %p
        %span.Neg
          Edad:
          %span.rojo= @fototest.edad
          Educacion:
          %span.rojo= @fototest.education
    %table{border: '1', summary: 'Formulario del Fototest: resultados obtenidos', width: '90%'}
      %caption.FatH2 Fototest - Test de las Fotos
      %tr.FatH3
        %td.Neg{width: '15ex'} Categoría
        %td.Neg{width: '10ex'} Fotos
        %td.Neg.centrar{width: '7ex'} Den
        %td.Neg.centrar{width: '7ex'} RL
        %td.Neg.centrar{width: '7ex'} RF
        %td.Neg.centrar{width: '50ex'} Fluidez hombres (FH)
        %td.Neg.centrar{width: '50ex'} Fluidez mujeres (FM)
      %tr
        %td.Neg Juego
        %td.Neg Cartas
        %td.centrar= @fototest.cartas1
        %td.centrar= @fototest.cartas2
        %td.centrar= @fototest.cartas3
        %td.centrar{rowspan: '6'}  
        %td.centrar{rowspan: '6'}  
      %tr
        %td.Neg Vehículo
        %td.Neg Coche
        %td.centrar= @fototest.coche1
        %td.centrar= @fototest.coche2
        %td.centrar= @fototest.coche3
      %tr
        %td.Neg Fruta
        %td.Neg Pera
        %td.centrar= @fototest.pera1
        %td.centrar= @fototest.pera2
        %td.centrar= @fototest.pera3
      %tr
        %td.Neg Inst. Musical
        %td.Neg Trompeta
        %td.centrar= @fototest.trompeta1
        %td.centrar= @fototest.trompeta2
        %td.centrar= @fototest.trompeta3
      %tr
        %td.Neg Prenda vestir
        %td.Neg Zapatos
        %td.centrar= @fototest.zapatos1
        %td.centrar= @fototest.zapatos2
        %td.centrar= @fototest.zapatos3
      %tr
        %td.Neg Cubierto
        %td.Neg Cuchara
        %td.centrar= @fototest.cuchara1
        %td.centrar= @fototest.cuchara2
        %td.centrar= @fototest.cuchara3
      %tr
        %td.Neg{colspan: '2'} Subtotales
        %td.centrar= @fototest.total1
        %td.centrar= @fototest.total2
        %td.centrar= @fototest.total3
        %td.centrar= @fototest.totalHombres
        %td.centrar= @fototest.totalMujeres
      %tr
        %td.Neg{colspan: '6'} Total Test de las Fotos (Den + RL + RF + FH + FM)
        %td.centrar= @fototest.total
    %p
      %span.Neg
        Este resultado corresponde a un percentil
        %span.rojo 5
        y a una puntuación Z de
        = succeed '.' do
          %span.rojo -4,05
    %p
      %span.Neg
        Una puntuación como esta o inferior tiene un cociente de probabilidad positivo de
        %span.rojo
          %span.FatH2 ∞
        para demencia y
        %span.rojo
          %span.FatH2 ∞
        para deterioro cognitivo, y un cociente de probabilidad negativo de
        %span.rojo 0.78
        para demencia y
        %span.rojo 0.87
        para deterioro cognitivo.
    .centrar
      %input{onclick: "parent.location='#{new_fototest_path}'", type: 'button', value: 'Nuevo test'}/
      %input{onclick: 'window.print()', type: 'button', value: 'Imprimir'}/