<%= form_for([@consultation, @physical_examination],
             html: {class: 'form-horizontal', role: 'form'},
             builder: ApplicationHelper::MyFormBuilder ,
             url: consultation_physical_examination_path(@consultation) ) do |f| %>

  <div class="form-group">
    <%= f.label :talla, 'Talla' %>
    <%= f.text_field :talla %>
    Metros (m)
  </div>
  <div class="form-group">
    <%= f.label :peso, 'Peso' %>
    <%= f.text_field :peso %>
    Kilogramos (Kg)
  </div>
  <div class="form-group">
    <%= f.label :tension, 'Tensión Arterial' %>
    <%= f.text_field :tension %>
  </div>
  <div class="form-group">
    <%= f.label :f1, 'Focalidad Neurológica (*)' %>
    <%= f.select :f1, Examination::NOYESUNKNOWN %>
  </div>
  <div class="form-group">
    <%= f.label :f2, 'Crisis Comiciales (*)' %>
    <%= f.select :f2, Examination::NOYESUNKNOWN %>
  </div>
  <div class="form-group">
    <%= f.label :f3, 'Temblor (*)' %>
    <%= f.select :f3, Examination::NOYESUNKNOWN %>
  </div>
  <div class="form-group">
    <%= f.label :f4, 'Parkinsonismo (*)' %>
    <%= f.select :f4, Examination::NOYESUNKNOWN %>
  </div>
  <div class="form-group">
    <%= f.label :f5, 'Alteración de la Marcha (*)' %>
    <%= f.select :f5, Examination::NOYESUNKNOWN %>
  </div>
  <div class="form-group">
    <%= f.label :f6, 'Incontinencia de Esfínteres (*)
' %><br>
    <%= f.select :f6, Examination::NOYESUNKNOWN %>
  </div>
  <div class="form-group">
    <%= f.label :f7, 'Soplos Carotideos (*)' %>
    <%= f.select :f7, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f8, 'Valoración Cardíaca (*)' %>
    <%= f.select :f8, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f9, 'Arritmias (*)' %><
    <%= f.select :f9, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f10, 'Soplos (*)' %>
    <%= f.select :f10, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f11, 'Exploración Pulmonar (*)' %>
    <%= f.select :f11, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f12, 'Exploración Abdominal (*)' %>
    <%= f.select :f12, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f13, 'Extremidades (*)' %>
    <%= f.select :f13, PhysicalExamination::OPTIONS %>
  </div>
  <div class="form-group">
    <%= f.label :f14, 'Pulsos Pédicos (*)' %>
    <%= f.select :f14, PhysicalExamination::OPTIONS %>
  </div>
    <div class="form-group">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
