<p id="notice"><%= notice %></p>

<p>
  <strong>Talla:</strong>
  <%= @physical_examination.talla %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @physical_examination.peso %>
</p>

<p>
  <strong>Tension:</strong>
  <%= @physical_examination.tension %>
</p>

<p>
  <strong>F1:</strong>
  <%= @physical_examination.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @physical_examination.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @physical_examination.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @physical_examination.f4 %>
</p>

<p>
  <strong>F5:</strong>
  <%= @physical_examination.f5 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @physical_examination.f6 %>
</p>

<p>
  <strong>F7:</strong>
  <%= @physical_examination.f7 %>
</p>

<p>
  <strong>F8:</strong>
  <%= @physical_examination.f8 %>
</p>

<p>
  <strong>F9:</strong>
  <%= @physical_examination.f9 %>
</p>

<p>
  <strong>F10:</strong>
  <%= @physical_examination.f10 %>
</p>

<p>
  <strong>F11:</strong>
  <%= @physical_examination.f11 %>
</p>

<p>
  <strong>F12:</strong>
  <%= @physical_examination.f12 %>
</p>

<p>
  <strong>F13:</strong>
  <%= @physical_examination.f13 %>
</p>

<p>
  <strong>F14:</strong>
  <%= @physical_examination.f14 %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @physical_examination.consultation %>
</p>

<%= link_to 'Edit', edit_physical_examination_path(@physical_examination) %> |
<%= link_to 'Back', physical_examinations_path %>
