<%= form_for([@consultation,@test_barthel],
             builder: ApplicationHelper::MyFormBuilder ) do |f| %>
  <% if @test_barthel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_barthel.errors.count, "error") %> prohibited this test_barthel from being saved:</h2>

      <ul>
      <% @test_barthel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f1 %><br>
    <%= f.number_field :f1 %>
  </div>
  <div class="field">
    <%= f.label :f2 %><br>
    <%= f.number_field :f2 %>
  </div>
  <div class="field">
    <%= f.label :f3 %><br>
    <%= f.number_field :f3 %>
  </div>
  <div class="field">
    <%= f.label :f4 %><br>
    <%= f.number_field :f4 %>
  </div>
  <div class="field">
    <%= f.label :f5 %><br>
    <%= f.number_field :f5 %>
  </div>
  <div class="field">
    <%= f.label :f6 %><br>
    <%= f.number_field :f6 %>
  </div>
  <div class="field">
    <%= f.label :f7 %><br>
    <%= f.number_field :f7 %>
  </div>
  <div class="field">
    <%= f.label :f8 %><br>
    <%= f.number_field :f8 %>
  </div>
  <div class="field">
    <%= f.label :f9 %><br>
    <%= f.number_field :f9 %>
  </div>
  <div class="field">
    <%= f.label :f10 %><br>
    <%= f.number_field :f10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
