
    <!-- TODO - rellenar la información a la derecha -->
    TODO - rellenar la información a la derecha- mirar edevitalzh
  <div class="form-group">

    <%= f.label :f1, 'Comida (*)' %><br>
    <%= f.select :f1, [10, 5, 0]%>
  </div>
  <div class="form-group">
    <%= f.label :f2,  'Lavado (Baño) (*)'  %><br>
    <%= f.select :f2, [5, 0] %>
  </div>
  <div class="form-group">
    <%= f.label :f3,  'Vestido (*)'%><br>
    <%= f.select :f3, [10, 5,0]%>
  </div>
  <div class="form-group">
    <%= f.label :f4, 'Arreglo (*)' %><br>
    <%= f.select :f4, [5, 0]%>
  </div>
  <div class="form-group">
    <%= f.label :f5, 'Deposición (*)' %><br>
    <%= f.select :f5, [10, 5, 0]%>
  </div>
  <div class="form-group">
    <%= f.label :f6, 'Micción (*)' %><br>
    <%= f.select :f6, [10, 5, 0]%>
  </div>
  <div class="form-group">
    <%= f.label :f7, 'Utilización del Inodoro (*)' %><br>
    <%= f.select :f7, [10, 5, 0] %>
  </div>
  <div class="form-group">
    <%= f.label :f8, 'Traslado Cama/Sillón (*)' %><br>
    <%= f.select :f8, [15, 10, 5, 0]%>
  </div>
  <div class="form-group">
    <%= f.label :f9, 'Deambulación (*)' %><br>
    <%= f.select :f9,  [15, 10, 5, 0]%>
  </div>
  <div class="form-group">
    <%= f.label :f10, 'Subir y Bajar Escaleras (*)' %><br>
    <%= f.select :f10, [10, 5, 0] %>
  </div>

