<%= form_for @patient,  :validate => true , builder: ApplicationHelper::MyFormBuilder,
             :html => { :class => 'form-horizontal' }   do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_explanation">
        <div class="<%= flash_class(:error) %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <!--TODO: El mensaje dice "errore" en lugar de "error" cuando hay sólo un error-->
            <h3><%= pluralize(@patient.errors.count, "errore") %> impiden que este paciente sea creado</h3>
            <ul>
            <% @patient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    </div>
  <% end %>
   <!--TODO: Validación de campos hecha, pero sólo se comprueba la presencia o no del campo.
   TODO: Checkbox está hecho de forma "manual" y embellecer fecha en application helper
   -->
    <div class="form-group">
        <%= f.label :name, 'Nombre (*)' %>
        <%= f.text_field :name %>
    </div>

    <div class="form-group">
        <%= f.label :surname, 'Apellido (*)' %>
        <%= f.text_field :surname, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :birth, 'Fecha de nacimiento (*)' %>
        <%= f.date_select :birth, start_year: 1900 %>
    </div>

		<div class="form-group">
			<%= f.label :gender, 'Sexo' %>
			<%= f.select :gender, Patient::GENDERS,  { include_blank: 'Seleccionar...' } %>
		</div>

    <div class="col-md-4 col-md-offset-6">
        <hr class="hr_consult"></hr>  <!--Separator -->
    </div>

    <div class="form-group">
      <%= f.label :id2, 'NHC ' %>
      <%= f.number_field :id2 %>
      <div class="col-md-3 text-muted">Será el identificador del paciente</div>

    </div>

    <div class="form-group">
      <%= f.label :exitus, 'Exitus' %>
      <div class="col-md-4">
        <div class="checkbox">
          <%= f.check_box :exitus, type:'checkbox' %> Sí
        </div>
      </div>
    </div>


    <div class="col-md-4 col-md-offset-6">
      <hr class="hr_consult"></hr>  <!--Separator -->
    </div>

    <div class="form-group">
        <%= f.label :education, 'Escolaridad' %>
        <%= f.select :education, Patient::EDUCATIONS , { include_blank: 'Seleccionar...' }%>
    </div>

    <div class="form-group">
        <div class="actions">
          <%= f.submit %>
        </div>
    </div>
<% end %>
