<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @patient.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @patient.civil_status %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @patient.NIF %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @patient.passport %>
</p>

<p>
  <strong>Public insurance number:</strong>
  <%= @patient.public_insurance_number %>
</p>

<p>
  <strong>Private insurance number:</strong>
  <%= @patient.private_insurance_number %>
</p>

<p>
  <strong>Exitus:</strong>
  <%= @patient.exitus %>
</p>

<p>
  <strong>Phone house:</strong>
  <%= @patient.phone_house %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @patient.mobile_phone %>
</p>

<p>
  <strong>Other phone:</strong>
  <%= @patient.other_phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @patient.country %>
</p>

<p>
  <strong>Education:</strong>
  <%= @patient.education %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @patient.employment %>
</p>

<p>
  <strong>Economic situation:</strong>
  <%= @patient.economic_situation %>
</p>

<p>
  <strong>Institutionalized:</strong>
  <%= @patient.institutionalized %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
