<!--TODO: Info de la derecha de la otra plat. que no puede ser nombrada-->
<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <h2> Orientación </h2>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <hr>
  </div>
</div>
  <div class="form-group">
    <%= f.label :f1,'¿En qué año estamos?' %>
    <%= f.select :f1, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f2,'¿En qué estación del año estamos?' %>
    <%= f.select :f2, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f3, '¿Qué día del mes es hoy?' %>
    <%= f.select :f3, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f4, '¿Qué día de la semana es hoy?' %>
    <%= f.select :f4, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f5,'¿En qué mes del año estamos?' %>
    <%= f.select :f5, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f6,'¿En qué país estamos?' %>
    <%= f.select :f6, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f7,'¿En qué provincia estamos?' %>
    <%= f.select :f7, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f8,'¿En qué ciudad estamos?' %>
    <%= f.select :f8, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f9,'¿Dónde estamos en este momento?' %>
    <%= f.select :f9, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f10,'¿En que piso/planta estamos?' %>
    <%= f.select :f10, TestMinimental::SUCCESS %>
  </div>

  <div class="form-group">
      <div class="col-md-6 col-md-offset-3">
        <h2> Fijación </h2>

      </div>
       <div class="col-md-6 col-md-offset-1">
        <hr>
      </div>
  </div>

    <div class="form-group">
    <%= f.label :f11,'Nombra 3 objetos a intervalos de 1 segundo: Bicicleta,
     cuchara, manzana.
     Puntúe con 1 punto cada respuesta correcta y repita los nombres hasta que los aprenda.' %><br>
    <%= f.select :f11, (0..3).to_a  %>
  </div>

<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <h2> Atención y cálculo </h2>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <hr>
  </div>
</div>
    <div class="form-group">
    <%= f.label :f12, '[Opción 1] Restar , a partir de 100, de 7 en 7. Parar después de 5 respuestas.[Opción 2] Deletrear al revés una palabra.' %>
    <%= f.select :f12, (0..5).to_a  %>
  </div>

<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <h2> Memoria </h2>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <hr>
  </div>
</div>

  <div class="form-group">
    <%= f.label :f13, 'Pregunte los nombres de los tres objetos: bicicleta, cuchara, manzana. Puntúe con 1 punto cada respuesta correcta.' %><br>
    <%= f.select :f13, (0..3).to_a  %>
  </div>

<div class="form-group">
  <div class="col-md-6 col-md-offset-2">
    <h2>Lenguaje y praxis constructiva </h2>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <hr>
  </div>
</div>

  <div class="form-group">
    <%= f.label :f14,'Señale un Lápiz y un Reloj'%>
    <%= f.select :f14, (0..2).to_a  %>
  </div>
  <div class="form-group">
    <%= f.label :f15,'Haga que el paciente repita: "Ni si, ni no, ni peros".' %>
    <%= f.select :f15, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f16,'Haga que el paciente siga tres ordenes: "Coja este papel con la mano derecha, dóblelo por la mitad y déjelo en el suelo"' %>
    <%= f.select :f16, (0..3).to_a  %>
  </div>
  <div class="form-group">
    <%= f.label :f17,'El paciente tiene que leer y hacer lo siguiente: "Cierre los ojos" ' %><br>
    <%= f.select :f17, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f18,'Haga que el paciente escriba una oración (sujeto, verbo y objeto). ' %><br>
    <%= f.select :f18, TestMinimental::SUCCESS %>
  </div>
  <div class="form-group">
    <%= f.label :f19,'Haga que el paciente copie el dibujo (2 Pentágonos en intersección).' %><br>
    <%= f.select :f19, TestMinimental::SUCCESS %>
  </div>

