<h1>Listing test_minimentals</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Station</th>
      <th>Day month</th>
      <th>Day week</th>
      <th>Month</th>
      <th>Country</th>
      <th>Province</th>
      <th>City</th>
      <th>Where</th>
      <th>Flat</th>
      <th>Objects</th>
      <th>Attention</th>
      <th>Memory</th>
      <th>Pencil</th>
      <th>Repeat</th>
      <th>Orders</th>
      <th>Eyes</th>
      <th>Sentence</th>
      <th>Draw</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_minimentals.each do |test_minimental| %>
      <tr>
        <td><%= test_minimental.year %></td>
        <td><%= test_minimental.station %></td>
        <td><%= test_minimental.day_month %></td>
        <td><%= test_minimental.day_week %></td>
        <td><%= test_minimental.month %></td>
        <td><%= test_minimental.country %></td>
        <td><%= test_minimental.province %></td>
        <td><%= test_minimental.city %></td>
        <td><%= test_minimental.where %></td>
        <td><%= test_minimental.flat %></td>
        <td><%= test_minimental.objects %></td>
        <td><%= test_minimental.attention %></td>
        <td><%= test_minimental.memory %></td>
        <td><%= test_minimental.pencil %></td>
        <td><%= test_minimental.repeat %></td>
        <td><%= test_minimental.orders %></td>
        <td><%= test_minimental.eyes %></td>
        <td><%= test_minimental.sentence %></td>
        <td><%= test_minimental.draw %></td>
        <td><%= link_to 'Show', test_minimental %></td>
        <td><%= link_to 'Edit', edit_test_minimental_path(test_minimental) %></td>
        <td><%= link_to 'Destroy', test_minimental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test minimental', new_test_minimental_path %>
