<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @test_minimental.year %>
</p>

<p>
  <strong>Station:</strong>
  <%= @test_minimental.station %>
</p>

<p>
  <strong>Day month:</strong>
  <%= @test_minimental.day_month %>
</p>

<p>
  <strong>Day week:</strong>
  <%= @test_minimental.day_week %>
</p>

<p>
  <strong>Month:</strong>
  <%= @test_minimental.month %>
</p>

<p>
  <strong>Country:</strong>
  <%= @test_minimental.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @test_minimental.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @test_minimental.city %>
</p>

<p>
  <strong>Where:</strong>
  <%= @test_minimental.where %>
</p>

<p>
  <strong>Flat:</strong>
  <%= @test_minimental.flat %>
</p>

<p>
  <strong>Objects:</strong>
  <%= @test_minimental.objects %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @test_minimental.attention %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @test_minimental.memory %>
</p>

<p>
  <strong>Pencil:</strong>
  <%= @test_minimental.pencil %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @test_minimental.repeat %>
</p>

<p>
  <strong>Orders:</strong>
  <%= @test_minimental.orders %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @test_minimental.eyes %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @test_minimental.sentence %>
</p>

<p>
  <strong>Draw:</strong>
  <%= @test_minimental.draw %>
</p>

