<h1>Listing test_yesavage15s</h1>

<table>
  <thead>
    <tr>
      <th>F1</th>
      <th>F2</th>
      <th>F3</th>
      <th>F4</th>
      <th>F5</th>
      <th>F6</th>
      <th>F7</th>
      <th>F8</th>
      <th>F9</th>
      <th>F10</th>
      <th>F11</th>
      <th>F12</th>
      <th>F13</th>
      <th>F14</th>
      <th>F15</th>
      <th>Consultation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_yesavage15s.each do |test_yesavage15| %>
      <tr>
        <td><%= test_yesavage15.f1 %></td>
        <td><%= test_yesavage15.f2 %></td>
        <td><%= test_yesavage15.f3 %></td>
        <td><%= test_yesavage15.f4 %></td>
        <td><%= test_yesavage15.f5 %></td>
        <td><%= test_yesavage15.f6 %></td>
        <td><%= test_yesavage15.f7 %></td>
        <td><%= test_yesavage15.f8 %></td>
        <td><%= test_yesavage15.f9 %></td>
        <td><%= test_yesavage15.f10 %></td>
        <td><%= test_yesavage15.f11 %></td>
        <td><%= test_yesavage15.f12 %></td>
        <td><%= test_yesavage15.f13 %></td>
        <td><%= test_yesavage15.f14 %></td>
        <td><%= test_yesavage15.f15 %></td>
        <td><%= test_yesavage15.consultation %></td>
        <td><%= link_to 'Show', test_yesavage15 %></td>
        <td><%= link_to 'Edit', edit_test_yesavage15_path(test_yesavage15) %></td>
        <td><%= link_to 'Destroy', test_yesavage15, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test yesavage15', new_test_yesavage15_path %>
