<p id="notice"><%= notice %></p>

<p>
  <strong>F1:</strong>
  <%= @test_yesavage15.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @test_yesavage15.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @test_yesavage15.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @test_yesavage15.f4 %>
</p>

<p>
  <strong>F5:</strong>
  <%= @test_yesavage15.f5 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @test_yesavage15.f6 %>
</p>

<p>
  <strong>F7:</strong>
  <%= @test_yesavage15.f7 %>
</p>

<p>
  <strong>F8:</strong>
  <%= @test_yesavage15.f8 %>
</p>

<p>
  <strong>F9:</strong>
  <%= @test_yesavage15.f9 %>
</p>

<p>
  <strong>F10:</strong>
  <%= @test_yesavage15.f10 %>
</p>

<p>
  <strong>F11:</strong>
  <%= @test_yesavage15.f11 %>
</p>

<p>
  <strong>F12:</strong>
  <%= @test_yesavage15.f12 %>
</p>

<p>
  <strong>F13:</strong>
  <%= @test_yesavage15.f13 %>
</p>

<p>
  <strong>F14:</strong>
  <%= @test_yesavage15.f14 %>
</p>

<p>
  <strong>F15:</strong>
  <%= @test_yesavage15.f15 %>
</p>

