<div class="jumbotron">
  <div class="container">

    <%= form_for([@consultation, @cognitive_symptomatology],
                 html: {class: 'form-horizontal', role: 'form'},
                 builder: ApplicationHelper::MyFormBuilder ,
                 url: consultation_cognitive_symptomatology_path(@consultation) ) do |f| %>


        <div class='form-group'>
          <%= f.label :memory, 'Alteración de memoria (*)' %>
          <%= f.select :memory, Examination::NOYESUNKNOWN %>
        </div>

        <div class='form-group'>
          <%= f.label :disorientation, 'Desorientación (*)' %>
          <%= f.select :disorientation, Examination::NOYESUNKNOWN %>
        </div>

        <div class='form-group'>
          <%= f.label :aphasia, 'Trastorno del lenguaje (Afasia) (*)' %>
          <%= f.select :aphasia,
                       Examination::NOYESUNKNOWN %>
        </div>
        <div class='form-group'>
          <%= f.label :apraxia, 'Trastorno motor (Apraxia) (*)' %>
          <%= f.select :apraxia, Examination::NOYESUNKNOWN %>
        </div>
        <div class='form-group'>
          <%= f.label :agnosia, 'Trastorno sensitivo (*)' %>
          <%= f.select :agnosia,
                       Examination::NOYESUNKNOWN %>
        </div>
        <div class='form-group'>
          <%= f.label :executive, 'Alteración de las funciones ejecutivas (*)' %>
          <%= f.select :executive, Examination::NOYESUNKNOWN %>
        </div>
        <div class='form-group'>
          <%= f.label :reasoning, 'Trastorno del razonamiento y la abstracción (*)' %>
          <%= f.select :reasoning,
                       Examination::NOYESUNKNOWN %>
        </div>
        <div class='form-group'>
          <%= f.label :spatial, 'Alteración de las funciones visuoespaciales(*)' %>
          <%= f.select :spatial,
                       Examination::NOYESUNKNOWN %>
        </div>

        <div class="form-group">
          <%= f.button 'Almacenar Sintomatología Cognitiva' %>
        </div>

    <% end %>


  </div> <!--/jumbotron-->

</div> <!-- /container -->
