<h1 class="featurette-heading">Realización de tests <span class="text-muted"></span></h1>
<!--TODO: Mirar bien este layout, automáticamente se crean dos filas si nos pasamos con las columnas (i.e 4x3 +3x1) -->
<div class="jumbotron">
  <div class="container container-centered">
   <div class="row">
    <div class="col-md-3">
      <%= link_to '', new_consultation_test_iqcode_path(@consultation), class: 'fa fa-file-text fa-3x' %>
      <h4><%= link_to 'Realizar Test Informador',  new_consultation_test_iqcode_path(@consultation) %></h4>
    </div>

    <div class="col-md-3">
      <%= link_to '', new_consultation_test_minimental_path(@consultation), class: 'fa fa-file-text fa-3x' %>
      <h4><%= link_to 'Realizar Test Minimental', new_consultation_test_minimental_path(@consultation) %></h4>
    </div>

    <div class="col-md-3">
      <%= link_to '', new_consultation_test_mec_path(@consultation), class: 'fa fa-file-text fa-3x' %>
      <h4><%= link_to 'Realizar Test MEC', new_consultation_test_mec_path(@consultation) %></h4>
    </div>

    <div class="col-md-3">
      <%= link_to '', new_consultation_test_pfeiffer_path(@consultation), class: 'fa fa-file-text fa-3x' %>
      <h4><%= link_to 'Realizar Test Pfeiffer',new_consultation_test_pfeiffer_path(@consultation) %></h4>
    </div>
   </div>

   <div class="row">
    <div class=" col-md-4  col-md-offset-4">
      <%= link_to '', new_consultation_test_reloj_path(@consultation), class: 'fa fa-file-text fa-3x' %>
      <h4><%= link_to 'Realizar Test del Reloj', new_consultation_test_reloj_path(@consultation) %></h4>
    </div>
   </div>
  </div> <!--/container-->
</div> <!--/Jumbotro n-->


