<h1>Listing cognitive_symptomatologies</h1>

<table>
  <thead>
    <tr>
      <th>Consultation</th>
      <th>Memory</th>
      <th>Disorientation</th>
      <th>Aphasia</th>
      <th>Apraxia</th>
      <th>Agnosia</th>
      <th>Executive</th>
      <th>Reasoning</th>
      <th>Spatial</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cognitive_symptomatologies.each do |cognitive_symptomatology| %>
      <tr>
        <td><%= cognitive_symptomatology.id %></td>
        <td><%= cognitive_symptomatology.Consultation_id %></td>
        <td><%= cognitive_symptomatology.memory %></td>
        <td><%= cognitive_symptomatology.disorientation %></td>
        <td><%= cognitive_symptomatology.aphasia %></td>
        <td><%= cognitive_symptomatology.apraxia %></td>
        <td><%= cognitive_symptomatology.agnosia %></td>
        <td><%= cognitive_symptomatology.executive %></td>
        <td><%= cognitive_symptomatology.reasoning %></td>
        <td><%= cognitive_symptomatology.spatial %></td>
        <td><%= link_to 'Show', cognitive_symptomatology %></td>
        <td><%= link_to 'Edit', edit_cognitive_symptomatology_path(cognitive_symptomatology) %></td>
        <td><%= link_to 'Destroy', cognitive_symptomatology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


