<p id="notice"><%= notice %></p>

<p>
  <strong>Consultation:</strong>
  <%= @cognitive_symptomatology.Consultation %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @cognitive_symptomatology.memory %>
</p>

<p>
  <strong>Disorientation:</strong>
  <%= @cognitive_symptomatology.disorientation %>
</p>

<p>
  <strong>Aphasia:</strong>
  <%= @cognitive_symptomatology.aphasia %>
</p>

<p>
  <strong>Apraxia:</strong>
  <%= @cognitive_symptomatology.apraxia %>
</p>

<p>
  <strong>Agnosia:</strong>
  <%= @cognitive_symptomatology.agnosia %>
</p>

<p>
  <strong>Executive:</strong>
  <%= @cognitive_symptomatology.executive %>
</p>

<p>
  <strong>Reasoning:</strong>
  <%= @cognitive_symptomatology.reasoning %>
</p>

<p>
  <strong>Spatial:</strong>
  <%= @cognitive_symptomatology.spatial %>
</p>

<%= link_to 'Edit', edit_cognitive_symptomatology_path(@cognitive_symptomatology) %> |
<%= link_to 'Back', cognitive_symptomatologies_path %>
