<h1>Listing neurological_examinations</h1>

<table>
  <thead>
    <tr>
      <th>F1</th>
      <th>F2</th>
      <th>F3</th>
      <th>F4</th>
      <th>F5</th>
      <th>F6</th>
      <th>F7</th>
      <th>F8</th>
      <th>F9</th>
      <th>F10</th>
      <th>F11</th>
      <th>F12</th>
      <th>F13</th>
      <th>F14</th>
      <th>F15</th>
      <th>F16</th>
      <th>F17</th>
      <th>F18</th>
      <th>F19</th>
      <th>F20</th>
      <th>F21</th>
      <th>F22</th>
      <th>F23</th>
      <th>F24</th>
      <th>F25</th>
      <th>F26</th>
      <th>F27</th>
      <th>F28</th>
      <th>F29</th>
      <th>F30</th>
      <th>F31</th>
      <th>F32</th>
      <th>F33</th>
      <th>F34</th>
      <th>F35</th>
      <th>F36</th>
      <th>F37</th>
      <th>Consultation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @neurological_examinations.each do |neurological_examination| %>
      <tr>
        <td><%= neurological_examination.f1 %></td>
        <td><%= neurological_examination.f2 %></td>
        <td><%= neurological_examination.f3 %></td>
        <td><%= neurological_examination.f4 %></td>
        <td><%= neurological_examination.f5 %></td>
        <td><%= neurological_examination.f6 %></td>
        <td><%= neurological_examination.f7 %></td>
        <td><%= neurological_examination.f8 %></td>
        <td><%= neurological_examination.f9 %></td>
        <td><%= neurological_examination.f10 %></td>
        <td><%= neurological_examination.f11 %></td>
        <td><%= neurological_examination.f12 %></td>
        <td><%= neurological_examination.f13 %></td>
        <td><%= neurological_examination.f14 %></td>
        <td><%= neurological_examination.f15 %></td>
        <td><%= neurological_examination.f16 %></td>
        <td><%= neurological_examination.f17 %></td>
        <td><%= neurological_examination.f18 %></td>
        <td><%= neurological_examination.f19 %></td>
        <td><%= neurological_examination.f20 %></td>
        <td><%= neurological_examination.f21 %></td>
        <td><%= neurological_examination.f22 %></td>
        <td><%= neurological_examination.f23 %></td>
        <td><%= neurological_examination.f24 %></td>
        <td><%= neurological_examination.f25 %></td>
        <td><%= neurological_examination.f26 %></td>
        <td><%= neurological_examination.f27 %></td>
        <td><%= neurological_examination.f28 %></td>
        <td><%= neurological_examination.f29 %></td>
        <td><%= neurological_examination.f30 %></td>
        <td><%= neurological_examination.f31 %></td>
        <td><%= neurological_examination.f32 %></td>
        <td><%= neurological_examination.f33 %></td>
        <td><%= neurological_examination.f34 %></td>
        <td><%= neurological_examination.f35 %></td>
        <td><%= neurological_examination.f36 %></td>
        <td><%= neurological_examination.f37 %></td>
        <td><%= neurological_examination.consultation %></td>
        <td><%= link_to 'Show', neurological_examination %></td>
        <td><%= link_to 'Edit', edit_neurological_examination_path(neurological_examination) %></td>
        <td><%= link_to 'Destroy', neurological_examination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neurological examination', new_neurological_examination_path %>
