<p id="notice"><%= notice %></p>

<p>
  <strong>F1:</strong>
  <%= @neurological_examination.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @neurological_examination.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @neurological_examination.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @neurological_examination.f4 %>
</p>

<p>
  <strong>F5:</strong>
  <%= @neurological_examination.f5 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @neurological_examination.f6 %>
</p>

<p>
  <strong>F7:</strong>
  <%= @neurological_examination.f7 %>
</p>

<p>
  <strong>F8:</strong>
  <%= @neurological_examination.f8 %>
</p>

<p>
  <strong>F9:</strong>
  <%= @neurological_examination.f9 %>
</p>

<p>
  <strong>F10:</strong>
  <%= @neurological_examination.f10 %>
</p>

<p>
  <strong>F11:</strong>
  <%= @neurological_examination.f11 %>
</p>

<p>
  <strong>F12:</strong>
  <%= @neurological_examination.f12 %>
</p>

<p>
  <strong>F13:</strong>
  <%= @neurological_examination.f13 %>
</p>

<p>
  <strong>F14:</strong>
  <%= @neurological_examination.f14 %>
</p>

<p>
  <strong>F15:</strong>
  <%= @neurological_examination.f15 %>
</p>

<p>
  <strong>F16:</strong>
  <%= @neurological_examination.f16 %>
</p>

<p>
  <strong>F17:</strong>
  <%= @neurological_examination.f17 %>
</p>

<p>
  <strong>F18:</strong>
  <%= @neurological_examination.f18 %>
</p>

<p>
  <strong>F19:</strong>
  <%= @neurological_examination.f19 %>
</p>

<p>
  <strong>F20:</strong>
  <%= @neurological_examination.f20 %>
</p>

<p>
  <strong>F21:</strong>
  <%= @neurological_examination.f21 %>
</p>

<p>
  <strong>F22:</strong>
  <%= @neurological_examination.f22 %>
</p>

<p>
  <strong>F23:</strong>
  <%= @neurological_examination.f23 %>
</p>

<p>
  <strong>F24:</strong>
  <%= @neurological_examination.f24 %>
</p>

<p>
  <strong>F25:</strong>
  <%= @neurological_examination.f25 %>
</p>

<p>
  <strong>F26:</strong>
  <%= @neurological_examination.f26 %>
</p>

<p>
  <strong>F27:</strong>
  <%= @neurological_examination.f27 %>
</p>

<p>
  <strong>F28:</strong>
  <%= @neurological_examination.f28 %>
</p>

<p>
  <strong>F29:</strong>
  <%= @neurological_examination.f29 %>
</p>

<p>
  <strong>F30:</strong>
  <%= @neurological_examination.f30 %>
</p>

<p>
  <strong>F31:</strong>
  <%= @neurological_examination.f31 %>
</p>

<p>
  <strong>F32:</strong>
  <%= @neurological_examination.f32 %>
</p>

<p>
  <strong>F33:</strong>
  <%= @neurological_examination.f33 %>
</p>

<p>
  <strong>F34:</strong>
  <%= @neurological_examination.f34 %>
</p>

<p>
  <strong>F35:</strong>
  <%= @neurological_examination.f35 %>
</p>

<p>
  <strong>F36:</strong>
  <%= @neurological_examination.f36 %>
</p>

<p>
  <strong>F37:</strong>
  <%= @neurological_examination.f37 %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @neurological_examination.consultation %>
</p>

<%= link_to 'Edit', edit_neurological_examination_path(@neurological_examination) %> |
<%= link_to 'Back', neurological_examinations_path %>
