
    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class=" front jumbotron jumbotron-home">
                  <div class="row">
                    <div class="col-md-8">
                        <br><br><%= image_tag 'logo_epione.png', class:'img-responsive img-rounded' %>
                    </div>    <!--/col-md-8-->

                    <div class="col-md-4">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'})   do |f| %>
                            <h2 class="form-signin-heading text-muted-home">Identifíquese</h2>                            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
                            <%= f.password_field :password, class: 'form-control', placeholder: 'contraseña' %>

                            <label class="checkbox checkbox-home">
                                <%= f.check_box :remember_me %> <small>Recordarme</small> </label>

                            <%= f.submit "Acceder", class: 'btn btn-lg btn-primary btn-block' %>
                          <div class="page-scroll">
                            <%= link_to "Solicitar prueba", '#colaborate' ,class: 'btn btn-lg btn-primary btn-block btn-try' %>
                          </div>

                        <% end %>
                      <small><%= link_to '¿Olvidó su contraseña?', new_physician_password_path , class: 'text-muted-home' %> </small>
                    </div> <!--/col-md-4-->
                  </div>

                </div><!--/jumbotron-->
              <div class="row subtitle">
                    <div class="col-md-8 col-md-offset-2">
                      <h3 class=""> Diagnóstico preciso con la puntuación del FAQ y del MMSE, la edad y la educación del paciente</h3>
                      <div class="page-scroll">
                        <a href="#about" class=""><h4></h4></a>
                      </div>
                      <div class="page-scroll">
                        <a href="#about" class="btn btn-circle">
                          <i class="icon-double-angle-down animated"></i>
                        </a>
                      </div>
                    </div>



              </div>

              </div>
              </div>

                </div>


            </div> <!-- /container -->
        </div><!-- /intro-body-->
    </section>


  <section id="about" class="container content-section about-section">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">E-PIONE: CRIBADO INTELIGENTE</h2>
      </div>
    </div>
    <p></p>
    <div class = "row well-class well-class">
      <div class="col-lg-2 col-lg-offset-1"><a class="icon-zoom-in icon-4x"></a></div>
      <div class="col-lg-8">
       <h4>e-pione es un Sistema Inteligente de Ayuda al Diagnóstico (SIAD) del deterioro cognitivo (DC)
       </h4>
      </div>
    </div>


    <div class = "row well-class">
      <div class="col-lg-2 col-lg-offset-1"><a class="icon-gears icon-4x"></a></div>
      <div class="col-lg-8">
        <h4>
          Construido a partir de las últimas técnicas de minería de  datos, aprendizaje automático y
          sistemas expertos, obtiene más de un 80 % de precisión totalmente balanceada
        </h4>
      </div>
    </div>
    <div class = "row well-class">
      <div class="col-lg-2 col-lg-offset-1"><a class="icon-check icon-4x"></a></div>
      <div class="col-lg-8">
        <h4>
          Tan sólo es necesario el resultado del test FAQ, el MMSE, la edad y escolarización del paciente
        </h4>
      </div>
    </div>
    <div class = "row well-class">
      <div class="col-lg-2 col-lg-offset-1"><a class="icon-group icon-4x"></a></div>
      <div class="col-lg-8">
        <h4>
          Los resultados han sido obtenidos y validados sobre una base de datos de más de 1300 pacientes.
          Más info sobre la validación, aquí.
        </h4>
      </div>
    </div>
    <div class = "row well-class">
      <div class="col-lg-2 col-lg-offset-1"><a class="icon-time icon-4x"></a></div>
      <div class="col-lg-8">
        <h4>
          Porque sabemos que el tiempo del médico no tiene precio,
          obtener la opinión de un comité de expertos de forma instantánea
          en tu consulta tampoco
        </h4>
      </div>
    </div>
    <div class="row row-last text-center">
      <div class="page-scroll">
        <a href="#colaborate" class="btn btn-circle">
          <i class="icon-double-angle-down animated"></i>
        </a>
      </div>
    </div>
  </section>


    <section id="colaborate" class="container content-section colaborate-section text-center">
      <div class="row">
        <h2>COLABORA CON NOSOTROS</h2>
      </div>
      <br>
      <p></p>
     <div class="row">

      <div class="col-md-5 col-md-offset-1">
            <p>Equipo consultivo</p>
          <dl class="text-left dl-horizontal">
            <dt>Dr. Cristóbal Carnero</dt>
            <dd>Jefe de Neurología Hospital de Granada</dd>
            <dd>Creador del Fototest y asesor del servicio</dd>
          </dl>
        <hr>
          <p>Colaboradores</p>
          <dl class="text-left dl-horizontal">
            <dt>Dr. Juan Rafael García </dt>
            <dd>Jefe de Neurología Hospital Insular de Gran Canaria</dd>


            <dt>Dra. María Pérez Vieitez </dt>
            <dd>Especialista en Demencia, Doctora de Neurología Hospital Doctor Negrín</dd>
            <br>
            <dt>Clínica San Roque</dt>
            <dd><%= image_tag 'logosanroque.png', class:'img-responsive img-rounded' %> </dd>
            <br>
            <dt>Perpetuo Socorro</dt>
            <dd><%= image_tag 'perpetuosocorro.png', class:'img-responsive img-rounded' %> </dd>
          </dl>
      </div>
       <div class="col-md-5">
         <div class="well well-lg well-contact">
           <form  class="form-horizontal text-right" role="form">
             <div class="form-group">
               <div class="col-md-4 col-md-offset-1"><label>Nombre (*)</label></div>
               <div class="col-md-4"><input placeholder="Nombre " type="text" value="" class="form-control" /> </div>
             </div>
             <div class="form-group">
               <div class="col-md-4 col-md-offset-1"><label>Institución/Entidad</label></div>
               <div class="col-md-4"><input placeholder="Institución/Entidad " type="text" value="" class="form-control" /> </div>
             </div>
             <div class="form-group">
               <div class="col-md-4 col-md-offset-1"><label>Correo electrónico (*)</label></div>
               <div class="col-md-4"><input placeholder="Correo" type="text" value="" class="form-control" /> </div>
             </div>
             <div class="form-group">
               <div class="col-md-4 col-md-offset-1"><label>Observaciones</label></div>
               <div class="col-md-6"><textarea class="form-control" rows="2"></textarea> </div>
             </div>
             <div class="form-group">
               <div class="col-md-5 col-md-offset-5"><input type="submit" class="btn btn-lg btn-primary btn-block"
                                                            value="Solicita una prueba"></div>
             </div>
           </form>
         </div>
       </div>
   </div> <!--/row-->

    </section>
    <!--Aquí hay que hacer scroll-->
    <div id="footer">
      <div class="row">
        <div class="col-md-1 col-md-offset-7">BINNAC &copy</div>
        <div class="col-md-2 ">Términos de privacidad</div>
        <div class="col-md-1">Contacto</div>
      </div>
    </div>




