
<div class="container">

  <div class="row front jumbotron jumbotron-home">


    <div class="col-md-8">
      <br><p></p>
      <%= image_tag 'logo_epione.png', class:'img-responsive img-rounded' %>
    </div>    <!--/col-md-8-->

    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'})   do |f| %>
        <h2 class="form-signin-heading text-muted-home">Por favor, identifíquese</h2>
        <div> <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %></div>

        <div><%= f.password_field :password, class: 'form-control', placeholder: 'contraseña' %></div>

        <label class="checkbox checkbox-home">
          <%= f.check_box :remember_me %> <small>Recordarme</small>
        </label>

        <div><%= f.submit "Acceder", class: 'btn btn-lg btn-primary btn-block' %></div>

      <% end %>

      <small><%= link_to '¿Problemas para acceder?', new_password_path(resource_name), class: 'text-muted-home' %> </small>  <!--- It was designed to get the small tag inside the a tag, it should be considered to be changed if it is necessary -->


    </div> <!--/col-md-4-->


  </div><!--/row-->

  <div class="row credits">
   <!--logos cremas aquí-->
    <div class="col-md-1 col-md-offset-4"><h4>Colabora</h4></div>
    <div class="col-md-3">
      <a href="http://www.hospitalessanroque.com/">
        <%= image_tag 'logosanroque.png', class:'img-responsive img-rounded' %>
      </a>
      </div>
   <!-- <div class="col-md-1 "><h4>Engineered by</h4></div>
    <div class="col-md-2">
      <a href="http://www.binnac.com/">
        <%= image_tag 'logobinnac.png', class:'img-responsive img-rounded' %>
      </a>
    </div>-->
  </div><!--/row-->
</div> <!-- /container -->



