<% if flash[:notice] %>
    <br>
    <div class="alert alert-warning alert-dismissable col-md-6 col-md-offset-3 lead text-center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= flash[:notice] %>
    </div>
<%end%>
<div class="container text-center">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="jumbotron jumbotron-home">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
                <h2 class="form-signin-heading text-muted-home">Sign in</h2>
                <div> <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %></div>

                <div><%= f.password_field :password, class: 'form-control', placeholder: 'password' %></div>

                <label class="checkbox checkbox-home">
                  <%= f.check_box :remember_me %> <small>Rembember me</small>
                </label>

                <div><%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block' %></div>

            <% end %>
            <small><%= link_to 'Forgot your password?', new_physician_password_path , class: 'text-muted-home' %> </small>
            <!--- It was designed to get the small tag inside the a tag, it should be considered to be changed if it is necessary -->
        </div> <!--/jumbotron-->
      </div> <!--/col-->
    </div> <!--/row-->
</div>
<div class="footer_init">
  <div class="container">
      <div class="col-md-2 col-md-offset-6">BINNAC &copy</div>
        <div class="col-md-2 "><%= link_to 'Privacy terms', privacidad_path , class: 'text-muted-home' %></div>
        <div class="col-md-1"><%= link_to 'Contact', 'mailto:soporte@e-pione.com' , class: 'text-muted-home' %></div>
  </div>
</div>


