

  <div class="form-group">
    <%= f.label :f1, '¿Está usted satisfecho de su vida?' %><br>
    <%= f.select :f1, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f2, '¿Ha abandonado usted alguno de sus intereses y actividades? ' %><br>
    <%= f.select :f2, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f3, '¿Siente que su vida está vacía? ' %><br>
    <%= f.select :f3, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f4, '¿Tiene miedo de que algo malo de vaya a pasar?' %><br>
    <%= f.select :f4, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f5, '¿Se siente usted feliz la mayoría del tiempo? ' %><br>
    <%= f.select :f5, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f6, '¿Se siente usted a menudo impotente, abandonado? ' %><br>
    <%= f.select :f6, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f7, '¿Cree que tiene más problemas con su memoria que los demás?' %><br>
    <%= f.select :f7, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f8, '¿Es difícil para usted empezar proyectos nuevos? ' %><br>
    <%= f.select :f8, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f9, '¿Se siente lleno de energía?' %><br>
    <%= f.select :f9, Test::YESNO%>
  </div>
  <div class="form-group">
    <%= f.label :f10, '¿Se siente usted sin esperanza?' %><br>
    <%= f.select :f10, Test::YESNO%>
  </div>

