<p id="notice"><%= notice %></p>

<p>
  <strong>F1:</strong>
  <%= @test_yesavage10.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @test_yesavage10.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @test_yesavage10.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @test_yesavage10.f4 %>
</p>

<p>
  <strong>F5:</strong>
  <%= @test_yesavage10.f5 %>
</p>

<p>
  <strong>F6:</strong>
  <%= @test_yesavage10.f6 %>
</p>

<p>
  <strong>F7:</strong>
  <%= @test_yesavage10.f7 %>
</p>

<p>
  <strong>F8:</strong>
  <%= @test_yesavage10.f8 %>
</p>

<p>
  <strong>F9:</strong>
  <%= @test_yesavage10.f9 %>
</p>

<p>
  <strong>F10:</strong>
  <%= @test_yesavage10.f10 %>
</p>



