<%= form_for([@consultation,@habito],
             remote: true,
             html: {class: 'form-horizontal', role: 'form'},
             builder: ApplicationHelper::MyFormBuilder
    ) do |f| %>



  <div class="form-group">
    <%= f.label :habito,"Hábito" %>
    <%= f.select :habito, Habito::HABITOS %>
  </div>

  <div class="form-group">
    <%= f.label :comentario %>
    <%= f.text_area :comentario %>
  </div>
  <div class="form-group">
    <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
