<p id="notice"><%= notice %></p>

<p>
  <strong>F1:</strong>
  <%= @habitos_paciente.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @habitos_paciente.f2 %>
</p>

<%= link_to 'Edit', edit_habitos_paciente_path(@habitos_paciente) %> |
<%= link_to 'Back', habitos_pacientes_path %>
