<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @examination.type %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @examination.consultation %>
</p>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
