<% disabled = false unless defined? disabled %>
<% content_for :top_title do %>
    <% if not disabled %>
	<div class="col-md-5"><%= resource_class::NAME %></div>
	<div class="col-md-6 col-md-offset-1">
		<a href="#modalEnterScore" id="" data-toggle="modal"><h4>(Click para introducir puntuación directamente)</h4></a>
	</div>
	<!-- Small modal -->

	<div class="modal fade" id="modalEnterScore" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">Introduzca la puntuación del test</h3>
				</div>

				<%= form_for([@consultation, get_resource_ivar] ,
										 disabled: disabled ) do |f| %>
					<% if get_resource_ivar.errors[:score].any? %>
						<div id="error_explanation_modal">
							<div class="<%= flash_class(:error) %>">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<h3>Valores permitidos: 0-30</h3>
							</div>
						</div>
					<% end %>

					<div class="modal-body">
						<div class="col-md-offset-4 col-md-4">
							<%= f.number_field :score, class: 'form-control' %>
						</div>
						<br>
					</div>

					<div class="modal-footer">
						<div class="col-md-8">
							<%= f.submit 'Enviar', class: 'btn btn-info' %>
							<input type="submit" class="btn btn-default" value="Cerrar" data-dismiss="modal">
						</div>
					</div>

				<% end %>
			</div> <!--/modal-content-->
		</div>  <!--/modal-dialog-->
	</div> <!--/small-modal -->
   <%end%>



<% end %>

<%= form_for([@consultation, get_resource_ivar] ,
             builder: ApplicationHelper::MyFormBuilder,
             disabled: disabled,
             html: {class: 'form-horizontal'} ) do |f| %>
    <!--This error message only appears if the modal error message (while introducing the score directly) doesn't -->
    <% if get_resource_ivar.errors.any? && !get_resource_ivar.errors[:score].any? %>

        <div id="error_explanation">
          <div class="<%= flash_class(:error) %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3>Por favor, seleccione algún valor en los campos marcados en rojo para continuar </h3>
          </div>
        </div>
    <% end %>

  <%= render partial: "#{resource_name.underscore.pluralize}/form_fields", locals: {f: f} %>

  <% if disabled %>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <%=  link_to 'Eliminar Test', [@consultation, get_resource_ivar], method: :delete,
                            data: { confirm: '¿Está seguro de que quiere eliminar este test?' },
                            class: 'btn btn-danger'
                            %>
            </div>
         </div>

  <% else %>
        <div class="form-group">
            <div class="actions">
              <%= f.submit "Guardar test" %>
            </div>
        </div>

  <% end %>

<% end %>
