
    <!-- TODO - rellenar la información a la derecha -->
    TODO - rellenar la información a la derecha- mirar edevitalzh
    <div class="form-group">
      <%= f.label :f1, 'Capacidad para usar el Teléfono' %><br>
      <%= f.select :f1, TestLawton::OPTIONS1 %>
    </div>
    <div class="form-group">
      <%= f.label :f2,  'Hacer Compras'  %><br>
      <%= f.select :f2, TestLawton::OPTIONS2 %>
    </div>
    <div class="form-group">
      <%= f.label :f3,  'Preparación de la Comida'%><br>
      <%= f.select :f3, TestLawton::OPTIONS3 %>
    </div>
    <div class="form-group">
      <%= f.label :f4, 'Cuidado de la Casa' %><br>
      <%= f.select :f4, TestLawton::OPTIONS4 %>
    </div>
    <div class="form-group">
      <%= f.label :f5, 'Lavado de la Ropa' %><br>
      <%= f.select :f5, TestLawton::OPTIONS5 %>
    </div>
    <div class="form-group">
      <%= f.label :f6, 'Uso de Medios de Transporte' %><br>
      <%= f.select :f6, TestLawton::OPTIONS6 %>
    </div>
    <div class="form-group">
      <%= f.label :f7, 'Responsabilidad respecto a su Medicación' %><br>
      <%= f.select :f7, TestLawton::OPTIONS7 %>
    </div>
    <div class="form-group">
      <%= f.label :f8, 'Manejo de sus Asuntos Económicos' %><br>
      <%= f.select :f8, TestLawton::OPTIONS8 %>
    </div>

