


    Delirios
  <div class="form-group">
    <%= f.label :f1, 'Frecuencia (*)' %><br>
    <%= f.select :f1, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f2, 'Gravedad (*)' %><br>
    <%= f.select :f2, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f3, 'Molestia (*)' %><br>
    <%= f.select :f3, TestNpi::OPTIONSC %>
  </div>

    Alucinaciones
  <div class="form-group">
    <%= f.label :f4, 'Frecuencia (*)' %><br>
    <%= f.select :f4, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f5, 'Gravedad (*)' %><br>
    <%= f.select :f5, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f6, 'Molestia (*)' %><br>
    <%= f.select :f6, TestNpi::OPTIONSC %>
  </div>

    Agitacion/Agresion
  <div class="form-group">
    <%= f.label :f7, 'Frecuencia (*)' %><br>
    <%= f.select :f7, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f8, 'Gravedad (*)' %><br>
    <%= f.select :f8, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f9, 'Molestia (*)' %><br>
    <%= f.select :f9, TestNpi::OPTIONSC %>
  </div>
    Depresion/Disforia
  <div class="form-group">
    <%= f.label :f10, 'Frecuencia (*)' %><br>
    <%= f.select :f10, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f11, 'Gravedad (*)' %><br>
    <%= f.select :f11, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f12, 'Molestia (*)' %><br>
    <%= f.select :f12, TestNpi::OPTIONSC %>
  </div>

    Ansiedad
  <div class="form-group">
    <%= f.label :f13, 'Frecuencia (*)' %><br>
    <%= f.select :f13, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f14, 'Gravedad (*)' %><br>
    <%= f.select :f14, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f15, 'Molestia (*)' %><br>
    <%= f.select :f15, TestNpi::OPTIONSC %>
  </div>

    Euforia
  <div class="form-group">
    <%= f.label :f16, 'Frecuencia (*)' %><br>
    <%= f.select :f16, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f17, 'Gravedad (*)' %><br>
    <%= f.select :f17, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f18, 'Molestia (*)' %><br>
    <%= f.select :f18, TestNpi::OPTIONSC %>
  </div>

    Apatia/Indiferencia
  <div class="form-group">
    <%= f.label :f19, 'Frecuencia (*)' %><br>
    <%= f.select :f19, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f20, 'Gravedad (*)' %><br>
    <%= f.select :f20, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f21, 'Molestia (*)' %><br>
    <%= f.select :f21, TestNpi::OPTIONSC %>
  </div>

    Desinhibicion
  <div class="form-group">
    <%= f.label :f22, 'Frecuencia (*)' %><br>
    <%= f.select :f22, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f23, 'Gravedad (*)' %><br>
    <%= f.select :f23, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f24, 'Molestia (*)' %><br>
    <%= f.select :f24, TestNpi::OPTIONSC %>
  </div>

    Irritabilidad
  <div class="form-group">
    <%= f.label :f25, 'Frecuencia (*)' %><br>
    <%= f.select :f25, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f26, 'Gravedad (*)' %><br>
    <%= f.select :f26, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f27, 'Molestia (*)' %><br>
    <%= f.select :f27, TestNpi::OPTIONSC %>
  </div>
    Act. Motora Aberrante
  <div class="form-group">
    <%= f.label :f28, 'Frecuencia (*)' %><br>
    <%= f.select :f28, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f29, 'Gravedad (*)' %><br>
    <%= f.select :f29, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f30, 'Molestia (*)' %><br>
    <%= f.select :f30, TestNpi::OPTIONSC %>
  </div>
    Conductas Nocturnas/Sueño

    <div class="form-group">
    <%= f.label :f31, 'Frecuencia (*)' %><br>
    <%= f.select :f31, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f32, 'Gravedad (*)' %><br>
    <%= f.select :f32, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f33, 'Molestia (*)' %><br>
    <%= f.select :f33, TestNpi::OPTIONSC %>
  </div>

    Habitos Alimenticios
  <div class="form-group">
    <%= f.label :f34, 'Frecuencia (*)' %><br>
    <%= f.select :f34, TestNpi::OPTIONSA %>
  </div>
  <div class="form-group">
    <%= f.label :f35, 'Gravedad (*)' %><br>
    <%= f.select :f35, TestNpi::OPTIONSB %>
  </div>
  <div class="form-group">
    <%= f.label :f36, 'Molestia (*)' %><br>
    <%= f.select :f36, TestNpi::OPTIONSC %>
  </div>

