<h1>Listing test_npis</h1>

<table>
  <thead>
    <tr>
      <th>F1</th>
      <th>F2</th>
      <th>F3</th>
      <th>F4</th>
      <th>F5</th>
      <th>F6</th>
      <th>F7</th>
      <th>F8</th>
      <th>F9</th>
      <th>F10</th>
      <th>F11</th>
      <th>F12</th>
      <th>F13</th>
      <th>F14</th>
      <th>F15</th>
      <th>F16</th>
      <th>F17</th>
      <th>F18</th>
      <th>F19</th>
      <th>F20</th>
      <th>F21</th>
      <th>F22</th>
      <th>F23</th>
      <th>F24</th>
      <th>F25</th>
      <th>F26</th>
      <th>F27</th>
      <th>F28</th>
      <th>F29</th>
      <th>F30</th>
      <th>F31</th>
      <th>F32</th>
      <th>F33</th>
      <th>F34</th>
      <th>F35</th>
      <th>F36</th>
      <th>Consultation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_npis.each do |test_npi| %>
      <tr>
        <td><%= test_npi.f1 %></td>
        <td><%= test_npi.f2 %></td>
        <td><%= test_npi.f3 %></td>
        <td><%= test_npi.f4 %></td>
        <td><%= test_npi.f5 %></td>
        <td><%= test_npi.f6 %></td>
        <td><%= test_npi.f7 %></td>
        <td><%= test_npi.f8 %></td>
        <td><%= test_npi.f9 %></td>
        <td><%= test_npi.f10 %></td>
        <td><%= test_npi.f11 %></td>
        <td><%= test_npi.f12 %></td>
        <td><%= test_npi.f13 %></td>
        <td><%= test_npi.f14 %></td>
        <td><%= test_npi.f15 %></td>
        <td><%= test_npi.f16 %></td>
        <td><%= test_npi.f17 %></td>
        <td><%= test_npi.f18 %></td>
        <td><%= test_npi.f19 %></td>
        <td><%= test_npi.f20 %></td>
        <td><%= test_npi.f21 %></td>
        <td><%= test_npi.f22 %></td>
        <td><%= test_npi.f23 %></td>
        <td><%= test_npi.f24 %></td>
        <td><%= test_npi.f25 %></td>
        <td><%= test_npi.f26 %></td>
        <td><%= test_npi.f27 %></td>
        <td><%= test_npi.f28 %></td>
        <td><%= test_npi.f29 %></td>
        <td><%= test_npi.f30 %></td>
        <td><%= test_npi.f31 %></td>
        <td><%= test_npi.f32 %></td>
        <td><%= test_npi.f33 %></td>
        <td><%= test_npi.f34 %></td>
        <td><%= test_npi.f35 %></td>
        <td><%= test_npi.f36 %></td>
        <td><%= test_npi.consultation %></td>
        <td><%= link_to 'Show', test_npi %></td>
        <td><%= link_to 'Edit', edit_test_npi_path(test_npi) %></td>
        <td><%= link_to 'Destroy', test_npi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test npi', new_test_npi_path %>
