<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title><%= yield :title %> - Babel </title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/respond.min.js"></script>
  <![endif]-->

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>




<%= render 'shared/top_menu' %>

<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= value %>
    </div>
<% end %>

<div class="container">
    <%= render 'shared/header' %>


    <%= yield %>

</div>


</body>


</html>


















