<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= yield :title %> - E-PIONE </title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>


</head>
<body>

<%= render 'shared/top_menu' %>
<div id="message">
<% flash.each do |style, message| %>
    <%= render partial: 'shared/message', locals: {style: style, message: message} %>
<% end %>
</div>

<div class="container">
    <%= render 'shared/header' %>
    <%= yield %>
</div>


</body>


</html>


















